<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<meta name="keywords" content="百度地图,百度地图API，百度地图自定义工具，百度地图所见即所得工具" />
		<meta name="description" content="百度地图API自定义地图，帮助用户在可视化操作下生成百度地图" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<!--引用百度地图API-->
		<style type="text/css">
			html,
			body {
				margin: 0;
				padding: 0;
			}
			
			.iw_poi_title {
				color: #CC5522;
				font-size: 14px;
				font-weight: bold;
				overflow: hidden;
				padding-right: 13px;
				white-space: nowrap
			}
			
			.iw_poi_content {
				font: 12px arial, sans-serif;
				overflow: visible;
				padding-top: 4px;
				white-space: -moz-pre-wrap;
				word-wrap: break-word
			}
		</style>
		<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
	</head>

	<body style="width: 70%;margin-left: 10%;text-align: center;">
		<div class="head col-xs-12">
			<img src="img/header.png" />
			<div class="text">
				<p>2019年11月21日 17:40</p>
				<!--<p >17:40</p>-->
			</div>
		</div>
		<!--主体结构-->
		<div class="body">
			<div class="tt">
				<img src="img/title_chaozai.png" />
			</div>
			<div class="left col-xs-4 ">
				<div id="_top" style="width:90%;height: 400px;margin-top: -30px;">
				</div>
				<!--左边-->
			</div>
			<div class="center col-xs-4">
				<div style="width:100%;height:55%;border:#ccc solid 1px;margin-top: 20px;border-radius: 10px;" id="dituContent"></div>
				<div class="center_text">
					<!--中间-->
				</div>
			</div>
			<div class="right_text">
				<img src="img/title_chaozai.png" />
			</div>
			<div class="right col-xs-4 ">
				<div id="_right" style="width:400px;height: 300px;margin-left: -50px;margin-top: 20px;">
					<!--右边-->
				</div>
			</div>
			<div class="bottom col-xs-12">
				<div id="bottom_" style="width:110%;height: 400px;margin-left: -50px;margin-top: 20px;">
				</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!--======================================================================================下方柱状图==========================================================-->

	<script src="js/echarts.min(1).js" type="text/javascript" charset="utf-8"></script>
	<!--	======================================================================================右边饼状图==========================================================================================-->
	<script type="text/javascript">
		var myChart = echarts.init(document.getElementById('_right'));

		var option = {
			title: {
				x: 'center'
			},
			tooltip: {
				trigger: 'item',
				formatter: "{a} <br/>{b} : {c} ({d}%)"
			},
			legend: {
				orient: 'vertical',
				right: 'right',
				data: ['24', '38', '52', '31', '21', '11', '33', '42'],
				color: '#FFFFFF',
			},
			series: [{
				name: '访问来源',
				type: 'pie',
				radius: '55%',
				center: ['50%', '60%'],
				color: ['#06d3c4', '#ffbb32', '#2ccc44', "#0278fe", "#FF3976", "#6058E1", "#e569ff", "#00d6fb"],
				data: [{
						value: 335,
						name: '24'
					},
					{
						value: 310,
						name: '38'
					},
					{
						value: 234,
						name: '52'
					},
					{
						value: 135,
						name: '31'
					},
					{
						value: 200,
						name: '21'
					},
					{
						value: 120,
						name: '11'
					},
					{
						value: 120,
						name: '33'
					},
					{
						value: 120,
						name: '42'
					}
				],
				itemStyle: {
					emphasis: {
						shadowBlur: 10,
						shadowOffsetX: 0,
						shadowColor: 'rgba(0, 0, 0, 0.5)'
					}
				}
			}]
		};

		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
	</script>

	<!--======================================================================================左边柱状图===============================================================================-->
	<script type="text/javascript">
		// 基于准备好的dom，初始化echarts实例
		var myChart = echarts.init(document.getElementById('_top'));
		var option = {

			dataset: {
				source: [
					['score', 'amount', 'product'],
					[1500, 300, 'A'],
					[89.3, 900, 'B'],
					[57.1, 700, 'C'],
					[74.4, 320, 'D'],
					[50.1, 500, 'E'],
					[89.7, 800, 'F'],
					[68.1, 120, 'J'],
					[19.6, 650, 'G'],
					[10.6, 420, 'H'],
					[32.7, 1200, 'L']
				]
			},
			grid: {
				containLabel: true
			},
			xAxis: {
				name: 'amount',
				axisLabel: {
					show: true,
					textStyle: {
						color: '#fff'
					}
				}
			},
			yAxis: {
				type: 'category',
				axisLabel: {
					show: true,
					textStyle: {
						color: '#fff'
					}
				}

			},
			visualMap: {

				orient: 'horizontal',
				left: 'center',
				min: 10,
				max: 100,
				text: ['High Score', 'Low Score'],
				axisLabel: {
					show: true,
					textStyle: {
						color: '#fff'
					}
				},
				// Map the score column to color
				dimension: 0,
				inRange: {
					color: ['#D7DA8B', '#E15457']
				}

			},
			series: [{
				type: 'bar',
				encode: {
					// Map the "amount" column to X axis.
					x: 'amount',
					// Map the "product" column to Y axis
					y: 'product'
				}
			}]
		};

		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
	</script>
<!--=================================================================================================中间地图==============================================================-->
	<script type="text/javascript">
		//创建和初始化地图函数：
		function initMap() {
			createMap(); //创建地图
			setMapEvent(); //设置地图事件
			addMapControl(); //向地图添加控件
			addMarker(); //向地图中添加marker
		}

		//创建地图函数：
		function createMap() {
			var map = new BMap.Map("dituContent"); //在百度地图容器中创建一个地图
			var point = new BMap.Point(118.064214, 36.811252); //定义一个中心点坐标
			map.centerAndZoom(point, 18); //设定地图的中心点和坐标并将地图显示在地图容器中
			window.map = map; //将map变量存储在全局
		}

		//地图事件设置函数：
		function setMapEvent() {
			map.enableDragging(); //启用地图拖拽事件，默认启用(可不写)
			map.enableScrollWheelZoom(); //启用地图滚轮放大缩小
			map.enableDoubleClickZoom(); //启用鼠标双击放大，默认启用(可不写)
			map.enableKeyboard(); //启用键盘上下左右键移动地图
		}

		//地图控件添加函数：
		function addMapControl() {
			//向地图中添加缩放控件
			var ctrl_nav = new BMap.NavigationControl({
				anchor: BMAP_ANCHOR_TOP_LEFT,
				type: BMAP_NAVIGATION_CONTROL_LARGE
			});
			map.addControl(ctrl_nav);
			//向地图中添加缩略图控件
			var ctrl_ove = new BMap.OverviewMapControl({
				anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
				isOpen: 1
			});
			map.addControl(ctrl_ove);
			//向地图中添加比例尺控件
			var ctrl_sca = new BMap.ScaleControl({
				anchor: BMAP_ANCHOR_BOTTOM_LEFT
			});
			map.addControl(ctrl_sca);
		}

		//标注点数组
		var markerArr = [{
			//			title: "淄博汉企",
			//			content: "0533-3113118",
			//			point: "118.063086|36.811338",
			isOpen: 0,
			icon: {
				w: 21,
				h: 21,
				l: 0,
				t: 0,
				x: 6,
				lb: 5
			}
		}];
		//创建marker
		function addMarker() {
			for(var i = 0; i < markerArr.length; i++) {
				var json = markerArr[i];
				var p0 = json.point.split("|")[0];
				var p1 = json.point.split("|")[1];
				var point = new BMap.Point(p0, p1);
				var iconImg = createIcon(json.icon);
				var marker = new BMap.Marker(point, {
					icon: iconImg
				});
				var iw = createInfoWindow(i);
				var label = new BMap.Label(json.title, {
					"offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20)
				});
				marker.setLabel(label);
				map.addOverlay(marker);
				label.setStyle({
					borderColor: "#808080",
					color: "#333",
					cursor: "pointer"
				});

				(function() {
					var index = i;
					var _iw = createInfoWindow(i);
					var _marker = marker;
					_marker.addEventListener("click", function() {
						this.openInfoWindow(_iw);
					});
					_iw.addEventListener("open", function() {
						_marker.getLabel().hide();
					})
					_iw.addEventListener("close", function() {
						_marker.getLabel().show();
					})
					label.addEventListener("click", function() {
						_marker.openInfoWindow(_iw);
					})
					if(!!json.isOpen) {
						label.hide();
						_marker.openInfoWindow(_iw);
					}
				})()
			}
		}
		//创建InfoWindow
		function createInfoWindow(i) {
			var json = markerArr[i];
			var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
			return iw;
		}
		//创建一个Icon
		function createIcon(json) {
			var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w, json.h), {
				imageOffset: new BMap.Size(-json.l, -json.t),
				infoWindowOffset: new BMap.Size(json.lb + 5, 1),
				offset: new BMap.Size(json.x, json.h)
			})
			return icon;
		}

		initMap(); //创建和初始化地图
	</script>

	<!--========================================================================= 下方柱状图==========================================================-->
	<script type="text/javascript">
		var myChart = echarts.init(document.getElementById('bottom_'));

		var dataAxis = ['0', '击', '柱', '子', '或', '者', '两', '指', '在', '触', '屏', '上', '滑', '动', '能', '够', '自', '动', '缩', '放'];
		var data = [220, 182, 191, 234, 290, 330, 310, 123, 442, 321, 90, 149, 210, 122, 133, 334, 198, 123, 125, 220];
		var yMax = 500;
		var dataShadow = [];

		for(var i = 0; i < data.length; i++) {
			dataShadow.push(yMax);
		}

		var option = {
			xAxis: {
				data: dataAxis,
				splitLine: {
					show: false
				},
				axisLabel: {
					inside: true,
					textStyle: {
						color: '#fff'
					}
				},
				axisTick: {
					show: false
				},
				axisLine: {
					show: false
				},
				z: 10
			},
			yAxis: {
				axisTick: {
					show: false
				},
				axisLabel: {
					textStyle: {
						color: '#999'
					}
				}
			},
			dataZoom: [{
				type: 'inside'
			}],
			series: [{ // For shadow
					type: 'bar',
					itemStyle: {
						normal: {
							color: 'rgba(0,0,0,0.05)'
						}
					},
					barGap: '-100%',
					barCategoryGap: '40%',
					data: dataShadow,
					animation: false
				},
				{
					type: 'bar',
					itemStyle: {
						normal: {
							color: new echarts.graphic.LinearGradient(
								0, 0, 0, 1, [{
										offset: 0,
										color: '#83bff6'
									},
									{
										offset: 0.5,
										color: '#188df0'
									},
									{
										offset: 1,
										color: '#188df0'
									}
								]
							)
						},
						emphasis: {
							color: new echarts.graphic.LinearGradient(
								0, 0, 0, 1, [{
										offset: 0,
										color: '#2378f7'
									},
									{
										offset: 0.7,
										color: '#2378f7'
									},
									{
										offset: 1,
										color: '#83bff6'
									}
								]
							)
						}
					},
					data: data
				}
			]
		};

		// Enable data zoom when user click bar.
		var zoomSize = 6;
		myChart.on('click', function(params) {
			console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
			myChart.dispatchAction({
				type: 'dataZoom',
				startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
				endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
			});
		});
		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
	</script>
	<!--下方柱状图-->
	<script type="text/javascript">
		app.title = '坐标轴刻度与标签对齐';

		var option = {
			color: ['#3398DB'],
			tooltip: {
				trigger: 'axis',
				axisPointer: { // 坐标轴指示器，坐标轴触发有效
					type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
				}
			},
			grid: {
				left: '3%',
				right: '4%',
				bottom: '3%',
				containLabel: true
			},
			xAxis: [{
				type: 'category',
				data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
				axisTick: {
					alignWithLabel: true
				}
			}],
			yAxis: [{
				type: 'value'
			}],
			series: [{
				name: '直接访问',
				type: 'bar',
				barWidth: '60%',
				data: [10, 52, 200, 334, 390, 330, 220]
			}]
		};
		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
	</script>

</html>