<!DOCTYPE html>
<html class="margin_top55">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../font2/iconfont.css">
    <link href="../style/bootstrap.min.css" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../style/jquery-editable-select.css">
    <link href="../font3/bootstrap-select.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <link rel="stylesheet"  href="css/layui.css" />
    <link rel="stylesheet"  href="css/toastr.css"/>

    <style lang="">
        body{
            background: #fff;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
        .modal-header{
            background-color:#549CDF;
            color:white;
        }
      .table.dataTable thead th, table.dataTable thead td{
            border-bottom:0px solid #DEDEDE;
        }
         #mainContent th{
            height:30px;
            line-height:30px;
        }
          #mainContent td{
            height:30px;
            line-height:30px;
        }
         .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            border:0px solid #ddd;
        }
        .table.dataTable.no-footer{
             border:0px solid #ddd;
        }
         .layui-table tbody tr:hover {
       	    background-color: #F5F5F5;
       }
    </style>
</head>
<body style="background-image: none;width: 90%;margin-left: 10%;">

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" style="background:#fff;">
<!--    -->
        <!--<li role="presentation"><a href="#gongsicedian" aria-controls="danwei" role="tab" data-toggle="tab">公司测点</a></li>-->
    </ul>
<!-- Modal -->


    <div role="tabpanel" class="tab-pane" id="gongsicedian">
        <div class="zhuti-content">
            <div class="UpperPart">
                <div class="UpperPartL">
                    <button type="button" class="btn btn-primary Pfa" data-toggle="modal" data-target="#myModal4" style="margin: 5PX;float: left;background-color:#549CFD;border:1px solid #549CFD;">录入单位名称</button>
                </div>
                <div class="UpperPartR">

                </div>

            </div>
            <div class="LowerPart" style="margin-top:3px;">
                <table class="table table-bordered table-condensed table-hover layui-table"lay-even lay-skin="nob" style="width:100%;" id="mainContent4">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>单位名称</th>
                        <th>单位类型</th>
                        <th>下辖测点</th>
                        <th style="width:75px;">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal4">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>录入单位名称</b></h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-inline" id="add_form">
                        <table class="table table-bordered table-condensed" >
                            <tr>
                                <td style="width: 20%;">单位名称</td>
                                <td style="width: 30%;"><input type="text" style="width: 70%;" id="companyName" /></td>
                                <td style="width: 20%;">单位类型</td>
                                <td style="width: 30%;">
                                    <select class="form-control" id="groups" style="width: 70%;" >
                                        <option value="0">控股</option>
                                        <option value="1">路公司</option>
                                        <option value="2">养护单位</option>
                                        <option value="3">其他</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%;">站点</td>
                                <td colspan="3">
                                    <select class="form-control selectpicker" multiple data-actions-box="true" data-live-search="true"  id="StationName"  style="width:100%;">
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-default" onclick="addbaocun4()">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- model结束 -->




<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change4">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>修改单位信息</b></h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-inline" id="">
                        <table class="table table-bordered table-condensed" >
                            <tr>
                                <td style="width: 20%;">公司名称</td>
                                <td style="width: 30%;"><input type="text" style="width: 70%;" id="xg_companyName" /></td>
                                <td style="width: 20%;">单位类型</td>
                                <td style="width: 30%;">
                                    <select class="form-control" id="xg_groups" style="width: 70%;" >
                                        <option value="0">控股</option>
                                        <option value="1">路公司</option>
                                        <option value="2">养护单位</option>
                                        <option value="3">其他</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 20%;">站点</td>
                                <td colspan="3">
                                    <select class="form-control selectpicker" multiple data-actions-box="true" data-live-search="true"  id="xg_StationName"  style="width:100%;">
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" id="baocun4" >保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->


</body>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="js/datatables/jquery.dataTables.min.js"></script>
<script src="../js/bootstrap-select.js" ></script>
<script src="../js/jquery-editable-select.js" ></script>
<script src="js/toastr.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="js/quanxian.js"></script>
<script>

    $(document).ready( function () {
        $('#StationName').selectpicker({
            'selectedText': 'cat',
            'noneSelectedText': '请选择',
            'deselectAllText': '全不选',
            'selectAllText': '全选'
        });
        $('#xg_StationName').selectpicker({
            'selectedText': 'cat',
            'noneSelectedText': '请选择',
            'deselectAllText': '全不选',
            'selectAllText': '全选'
        });

        initTable4()
        initzhandian()
    });


    function initzhandian(){
        $.ajax({
            type: 'POST',
            url: '/StationSite/getAllStationSite',
            dataType: 'json',
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                if(json!=null){
                    $("#xg_StationName").html('');
                    $("#StationName").html('');
                    for(var i=0;i<json.length;i++){
                        $("#StationName").append("<option  value='"+json[i].stationPort+"'>"+(json[i].stationName)+"</option>");
                        $("#xg_StationName").append("<option  value='"+json[i].stationPort+"'>"+(json[i].stationName)+"</option>");
                    }
                    $(".selectpicker").selectpicker({
                        noneSelectedText: '请选择',
                    });
                    $("#StationName").selectpicker("refresh");
                    $('#StationName').selectpicker('render');
                    $("#xg_StationName").selectpicker("refresh");
                    $('#xg_StationName').selectpicker('render');
                }
            }
        });
    }




    //公司测点
    var table4=$('#mainContent4').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "sDom":
            "t"+
            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
            "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
        },
        "columns": [
            { "data": null},
            { "data": "companyName"},
            { "data": "groups"},
            { "data": "stationName"},
            { "data": "id"},
        ],
        "columnDefs": [{
            "class": "tcenter",
            "targets": 4,
            "searchable": true,
            "render": function(data, type, full) {
                var xiugai='<i class="iconfont icon-xiugai Pfb" style="font-size:20px;cursor:pointer;display: none;" id="upd4" title="修改" data-toggle="modal" data-target="#change4"></i>';
                var shanchu='<i class="iconfont icon-shanchu Pfc" style="font-size:20px;cursor:pointer;display: none;" id="del4"  title="删除"></i>';
                //var look='<i class="iconfont icon-icon-test" style="font-size:20px;cursor:pointer;" title="查看详细信息" onclick="lookMs(this)" data-toggle="modal" data-target="#allMsg1" id="lookDetall"></i>'
                return xiugai+shanchu;
            }

        },{
            "class": "tcenter",
            "targets": 2,
            "searchable": true,
            "render": function(data, type, full) {
                if(data=="0"){
                    return "控股"
                }else if(data=="1"){
                    return "路公司"
                }else if(data=="2"){
                    return "养护单位"
                }else{
                    return "其他"
                }
            }

        }],
        "fnDrawCallback" : function() {
            this.api().column(0).nodes().each(function(cell, i){
                cell.innerHTML=i+1;
            });
            initTableQuanxian()
        },
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
            "sProcessing": "正在获取数据，请稍后...",
            "sLengthMenu": "显示 _MENU_ 条",
            "sZeroRecords": "查询不到相关数据",
            "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
            "sInfoEmpty": "记录数为0",
            "sInfoFiltered": "(全部记录数 _MAX_ 条)",
            "sInfoPostFix": "",
            "sSearch": "搜索",
            "sUrl": "",
            "oPaginate": {
                "sFirst": "第一页",
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "最后一页"
            }},

    });
    function initTableQuanxian(){
        $.ajax({
            type:"post",
            url:"/login/getUser",
            async:false,
            data:{
            },
            success:function(json){
                if(json!=null &&json!=""){
                    var arr = json.usrPersmissionCoding.split(',');
                    for(var i=0;i<arr.length;i++){
                        if(arr[i].indexOf("Pfa") >= 0 ){
                            $(".Pfa").show();
                        }
                        if(arr[i].indexOf("Pfb") >= 0 ){
                            $(".Pfb").show();
                        }
                        if(arr[i].indexOf("Pfc") >= 0 ){
                            $(".Pfc").show();
                        }
                    }

                }

            }
        });
    }
    <!--=====================================关键重量=====================================-->

    function initTable4(){
        $.ajax({
            type: 'POST',
            url: '/StationSite/getCompanyStationSite',
            dataType: 'json',
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                $('#mainContent4').dataTable().fnClearTable();
                $('#mainContent4').DataTable().rows.add(json).draw(false);
            }
        });
    }


    /*let addCompanyName = new Vue({
        el:"#myModal4",
        data:{
            companyName:"",
            groups:'',
        },
        methods:{
            baocun4:function(){
                this.$http.post('/StationSite/addCompanySite',this._data,{}).then((res)=>{
                    var resMsg = res.body;
                    if(resMsg.daoMsg>0){
                        $('#mainContent4').DataTable().row.add(resMsg.obj).draw();
                        $("#myModal4").modal("hide");
                        toastr.success(resMsg.resultMsg);
                    }else{
                        toastr.error(resMsg.resultMsg);
                    }
                },(res)=>{
                    toastr.error("发生错误");
                });
            },

        }
    });*/
    function addbaocun4(){
        let companyName=$("#companyName").val();
        let groups=$("#groups").val();
        let checkParam = $('#StationName').find('option:selected');
        let checkText=[];
        for (let i=0;i<checkParam.length;i++) {
            checkText.push(checkParam[i].textContent);
        }
        let StationName = checkText.join(',');
        let stationPort=$("#StationName").val().toString();
        $.ajax({
            type: 'POST',
            url: '/StationSite/addCompanySite',
            dataType: 'json',
            data: {
                companyName:companyName,
                stationPort:stationPort,
                stationName:StationName,
                groups:groups,
            },
            error: function (msg) {
                errMessage("请求失败");
            },
            success: function (json) {
                if(json.daoMsg>0){
                    $('#mainContent4').DataTable().row.add(json.obj).draw();
                    $("#myModal4").modal("hide");
                    toastr.success(json.resultMsg);
                }else{
                    toastr.error(json.resultMsg);
                }
            }
        });
    }


    //删除公司
    $('#mainContent4').delegate('#del4','click', function () {
        var dom = $(this).parents('tr');
        var data=$('#mainContent4').DataTable().row(dom).data();
        var msg = "您真的确定要删除吗？\n\n请确认！";
        if (confirm(msg)==true){
            $.ajax({
                type: 'POST',
                url:'/StationSite/delCompaySite',
                dataType: 'json',
                data: {
                    id:data.id
                },
                success: function (json) {
                    if(json!=0){
                        $('#mainContent4').DataTable().row(dom).remove().draw(false); //删除行立即显示
                        toastr.success('删除成功');
                    }else{
                        toastr.error('删除失败');
                    }
                }
            });
        }else{
            return false;
        }

    })


    let xgId;
    let tr;
    $("#mainContent4").delegate("#upd4","click",function(){
        let dom = $(this).parents('tr');
        tr = $(this).closest('tr');
        let data=$('#mainContent4').DataTable().row(dom).data();
        xgId=data.id

        $("#xg_companyName").val(data.companyName);
        $("#xg_groups").val(data.groups);
        xg_initzhandian(data.stationPort.split(","))
    })

    function xg_initzhandian(obj){
        $.ajax({
            type: 'POST',
            url: '/StationSite/getAllStationSite',
            dataType: 'json',
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                if(json!=null){
                    $("#xg_StationName").html('');
                    for(var i=0;i<json.length;i++){
                        $("#xg_StationName").append("<option  value='"+json[i].stationPort+"'>"+(json[i].stationName)+"</option>");
                    }
                    $(".selectpicker").selectpicker({
                        noneSelectedText: '请选择',
                    });
                    $("#xg_StationName").val(obj);
                    $('#xg_StationName').selectpicker('val', obj);
                    $("#xg_StationName").selectpicker("refresh");
                    $('#xg_StationName').selectpicker('render');
                }
            }
        });
    }


    $("#baocun4").click(function(){
        let companyName=$("#xg_companyName").val();
        let groups=$("#xg_groups").val();
        let checkParam = $('#xg_StationName').find('option:selected');
        let checkText=[];
        for (let i=0;i<checkParam.length;i++) {
            checkText.push(checkParam[i].textContent);
        }
        let StationName = checkText.join(',');
        let stationPort=$("#xg_StationName").val().toString();
        $.ajax({
            type: 'POST',
            url: '/StationSite/updateCompanySite',
            dataType: 'json',
            data: {
                id:xgId,
                companyName:companyName,
                stationPort:stationPort,
                stationName:StationName,
                groups:groups,
            },
            error: function (msg) {
                errMessage("请求失败");
            },
            success: function (json) {
                if(json.result>0){
                    var oldNum=$(tr.children()[0]).text();
                    toastr.success("修改成功");
                    $('#mainContent4').DataTable().row(tr).data(json.companySite);
                    $("#change4").modal('hide');
                    $(tr.children()[0]).text(oldNum);
                    initTableQuanxian()
                }else{
                    toastr.error("修改失败");
                }
            }
        });
    })

</script>
</html>
