<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <meta name="keywords" content="百度地图,百度地图API，百度地图自定义工具，百度地图所见即所得工具"/>
    <meta name="description" content="百度地图API自定义地图，帮助用户在可视化操作下生成百度地图"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet"  href="css/toastr.css"/>
    <!--引用百度地图API-->
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
        }

        .iw_poi_title {
            color: #CC5522;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            padding-right: 13px;
            white-space: nowrap
        }

        .iw_poi_content {
            font: 12px arial, sans-serif;
            overflow: visible;
            padding-top: 4px;
            white-space: -moz-pre-wrap;
            word-wrap: break-word
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
</head>

<body style="width: 70%;margin-left: 10%;text-align: center;">
<div class="head col-xs-12">
    <img src="img/header.png"/>
</div>
<!--主体结构-->
<div class="body">
    
    <div class="left col-xs-4 ">
	    <div class="tt">
	        <img src="img/title_first.png"/>
	    </div>
        <div id="_top" style="width:90%;height: 400px;margin-top: -30px;">
        </div>
        <!--左边-->
    </div>
    <div class="center col-xs-4">
        <div style="width:100%;height:80%;border:#ccc solid 1px;margin-top: 20px;border-radius: 10px;"
             id="dituContent"></div>
        <div class="center_text">
            <!--中间-->
        </div>
    </div>
    
    <div class="right col-xs-4 ">
	    <div class="right_text">
	        <img src="img/title_second.png"/>
	    </div>
        <div id="_right" style="width:380px;height: 300px;margin-left: 20px;margin-top: -20px;">
            <!--右边-->
        </div>
    </div>
    <div class="bottom col-xs-12">
    <div class="right_text">
	        <img src="img/title_third.png"/>
	    </div>
        <div id="bottom_" style="width:110%;height: 400px;margin-left: -50px;margin-top: 20px;margin:0 auto;left:-70px;">
        </div>
    </div>
</div>
</body>
<script src="js/echarts.min(1).js" type="text/javascript" charset="utf-8"></script>
<script src="../js/echartsOptionIndex.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="js/toastr.js" ></script>
<script type="text/javascript">
	setLeftEcharts();
	setRightEcharts();
	setBottomEcharts();
	setInterval(refresh, 4000);
	let page_flag=0;
	let page_flag1=0;
	let page_flag2=0;
	function refresh(){
		if(user!=null&&user!=""&&user!=undefined){
			//queding();
			setLeftEcharts();
			setRightEcharts();
			setBottomEcharts()
		}
	}

	<!--==========================================================饼状图（当日超载车辆）===========================================-->
	function setRightEcharts(){
		var user=getLoginUser();
		var stationName=getstationName(user);
		var stationPort=getstationPort(user);

		$.ajax({
			type: 'POST',
			url: '/tWimMsg/getMeiRiChaoZhongByStationPort',
			dataType: 'json',
			data: {
				stationPort: stationPort,
			},
			error: function (msg) {
				errMessage("请求UserController失败");
			},
			success: function (json) {
				setEcharts2(json,stationName)

			}
		});
	}

	function setEcharts2(list,stationName){
        var flag=0;
        for(var i=0;i<list.length;i++){
            flag+=list[i].value;
        }
        if(flag==0&&page_flag1==0){
            toastr.error('今日无超重车辆');
            page_flag1++;
        }
		var myChart2 = echarts.init(document.getElementById('_right'));
		if(list!=null&&list.length!=0){
			let option2 = initRightOption(list,stationName);
			// 使用刚指定的配置项和数据显示图表。
			myChart2.setOption(option2);
		}else{
			$("#_right").html('今日无超重车辆').css({
				"margin-left":"30px"
			})
		}

	}

	var user;
	function getLoginUser(){
		$.ajax({
			type: 'POST',
			url: '/login/getUser',
			dataType: 'json',
			async:false,
			data: {
			},
			error: function (msg) {
			},
			success: function (json) {
				user = json;
			}
		});
		return user;
	}

	function getstationName(user){
		let	stationName=user.stationName.split(",");
		return stationName;
	}

	function getstationPort(user){
		let	stationPort=user.stationPort;
		return stationPort;
	}

    function setLeftEcharts() {
        let user = getLoginUser();
        let stationName = getstationName(user);
        let stationPort = getstationPort(user);

        $.ajax({
            type: 'POST',
            url: '/tWimMsg/getMeiRiCheLiuLiangByStationPort',
            dataType: 'json',
            data: {
                stationPort: stationPort,
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                setEcharts(json, stationName)
            }
        });
    }
    function setEcharts(list, stationName) {
        var flag=0;
        for(var i=0;i<list.length;i++){
            flag+=list[i];
        }
        if(flag==0&&page_flag==0){
            page_flag++;
            toastr.error('今日无车流量');
        }
        let myChart = echarts.init(document.getElementById('_top'));
        let option = initLeftOption(list, stationName);
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
    //创建和初始化地图函数：
    function initMap() {
        createMap(); //创建地图
        setMapEvent(); //设置地图事件
    }

    function initMarker(){
	    let lnglatStr = user.lnglat;
	    let array = ""!=lnglatStr&&null!=lnglatStr&&lnglatStr.indexOf(",")>0 == true?lnglatStr.split(","):lnglatStr;
          for(let i in array){
              let lng = array[i]!=""&&array[i]!=null&&array[i].indexOf("-")>0?array[i].split("-")[0]:"";
              let lat = array[i]!=""&&array[i]!=null&&array[i].indexOf("-")>0?array[i].split("-")[1]:"";
              addMarker(lng,lat);
          }
    }
    function addMarker(lng,lat) {
        let point = new BMap.Point(lng, lat);
        let marker = new BMap.Marker(point);
        marker = new BMap.Marker(point);
        let sContent =
            "<h4 style='margin:0 0 5px 0;padding:0.2em 0'>" + "" + "</h4>" +"<br/>"
        +"";
        let infoWindow = new BMap.InfoWindow(sContent);
        map.addOverlay(marker);
        marker.addEventListener("click", function () {
            this.openInfoWindow(infoWindow);
        });
    }


    var page_map;
    //创建地图函数：
    function createMap() {
        var map = new BMap.Map("dituContent"); //在百度地图容器中创建一个地图
        page_map = map;
        var x = 119.605720;
        var y = 32.989924;
        var ggPoint = new BMap.Point(x,y);
        // 创建点坐标
        map.centerAndZoom(ggPoint, 5);
        window.map = map; //将map变量存储在全局
    }
    //地图事件设置函数：
    function setMapEvent() {
        map.enableDragging(); //启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom(); //启用地图滚轮放大缩小
        map.enableDoubleClickZoom(); //启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard(); //启用键盘上下左右键移动地图
    }
    initMap(); //创建和初始化地图
    initMarker();

	<!--==========================================================下面的柱状图（当日关键车辆）===========================================-->

	function setBottomEcharts(){
		var user=getLoginUser();
		var stationName=getstationName(user);
		var stationPort=getstationPort(user);

		$.ajax({
			type: 'POST',
			url: '/tWimMsg/getMeiRiGuanJianCheLiangByStationPort',
			dataType: 'json',
			data: {
				stationPort: stationPort,
			},
			error: function (msg) {
			},
			success: function (json) {
				setEcharts3(json,stationName)

			}
		});
	}
	function setEcharts3(list,stationName){
        var flag=0;
        for(var i=0;i<list.length;i++){
            flag+=list[i];
        }
        if(flag==0&&page_flag2==0){
            page_flag2++;
            toastr.error('今日无关键超重车辆');
        }
		let myChart3 = echarts.init(document.getElementById('bottom_'));
		if(list!=null&&list.length!=0){
			let option = initDownOption(list,stationName);
			// 使用刚指定的配置项和数据显示图表。
			myChart3.setOption(option);
		}

	}
</script>

</html>