<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>实时监测</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/home.css" />
		<link rel="stylesheet" type="text/css" href="css/layui.css" />
	</head>

	<body>
		<!--导航栏开始-->
		<div class="col-xs-12 daohang">
			<img src="img/首页logo.png" />
			<span>动态称重数据管理</span>
			<div class="rightD">
				<i></i>
				<p class="time">2019-11-20 15:20:14</p>
				<i></i>
				<p class="adm">admin</p>
				<i></i>
				<p class="tuichu">
					<a href="">退出</a>
				</p>
			</div>
		</div>
		<!--导航栏结束-->
		<!--左半部分开始-->
		<div id="leftTab">
			<a href="home.html" target="iframe_a">首页</a>
			<a href="shishijiance.html" target="iframe_a">实时监测</a>
			<a href="tongjifenxi.html" target="iframe_a">统计分析</a>
			<a href="">系统管理</a>
			<a href="renyuanguanli.html" target="iframe_a" >人员账户管理</a>
			<a href="jiancezhandian.html" target="iframe_a" >监测站点管理</a>
			<ul class="layui-nav layui-nav-tree liebiao" lay-filter="test" >
				<!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
				<li class="layui-nav-item layui-nav-itemed ">
					<a href="javascript:;">默认展开</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="javascript:;">选项1</a>
						</dd>
						<dd>
							<a href="javascript:;">选项2</a>
						</dd>
						<dd>
							<a href="">跳转</a>
						</dd>
					</dl>
				</li>
			</ul>

		</div>

		<iframe name="iframe_a" width="100%" height="1500">
	 <scipt src="js/layui.all.js" type="text/javascript" charset="utf-8"></script>
	 <script src="js/layui.js" type="text/javascript" charset="utf-8"></script>
</html>