<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.StationSiteDao" >

    <select id="getAllStationSite" resultType="StationSite">
		select  * from Station_Site where Del_State=1
	</select>

	<select id="getStationSiteById" resultType="StationSite">
		select  * from Station_Site where S_Id=#{id} and Del_State=1
	</select>

	<insert id="addStationSite" parameterType="StationSite">
		insert into Station_Site (S_Id,Station_Id,Station_Name,Station_Ip,Station_Port,Station_Longitude,Station_Latitude,Del_State)
			values(#{sId},#{stationId},#{stationName},#{stationIp},#{stationPort},#{stationLongitude},#{stationLatitude},#{delState})
	</insert>

	<update id="updStationSite" parameterType="StationSite">
		update Station_Site set
		Station_Id=#{stationId},
		Station_Name=#{stationName},
		Station_Ip=#{stationIp},
		Station_Port=#{stationPort},
		Station_Longitude=#{stationLongitude},
		Station_Latitude=#{stationLatitude}
		where S_Id=#{sId}
	</update>

	<update id="delStationSite">
		update Station_Site set Del_State=0 where S_Id=#{id}
	</update>

	<select id="iscountStationId" resultType="int">
		select count(Station_Id) from Station_Site where Station_Id=#{stationId} and Del_State=1
	</select>
	<select id="iscountStationName" resultType="int">
		select count(Station_Name) from Station_Site where Station_Name=#{stationName} and Del_State=1
	</select>
	<select id="iscountStationIp" resultType="int">
		select count(Station_Ip) from Station_Site where Station_Ip=#{stationIp} and Del_State=1
	</select>
	<select id="iscountStationPort" resultType="int">
		select count(Station_Port) from Station_Site where Station_Port=#{stationPort} and Del_State=1
	</select>

	<select id="xg_iscountStationId" resultType="int">
		select count(Station_Id) from Station_Site where Station_Id=#{stationId} and Del_State=1 and S_Id!=#{id}
	</select>
	<select id="xg_iscountStationName" resultType="int">
		select count(Station_Name) from Station_Site where Station_Name=#{stationName} and Del_State=1 and S_Id!=#{id}
	</select>
	<select id="xg_iscountStationIp" resultType="int">
		select count(Station_Ip) from Station_Site where Station_Ip=#{stationIp} and Del_State=1 and S_Id!=#{id}
	</select>
	<select id="xg_iscountStationPort" resultType="int">
		select count(Station_Port) from Station_Site where Station_Port=#{stationPort} and Del_State=1 and S_Id!=#{id}
	</select>

</mapper>
