<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.StationSiteDao">

    <select id="getAllStationSite" resultType="StationSite">
		select  * from station_site where Del_State=1
	</select>

    <select id="getProvinceStationList" resultType="StationSite">
		select  distinct province_station from station_site where Del_State=1
	</select>

    <select id="getStationSiteByStationNameAndRouteName" resultType="StationSite">
        select * from station_site
        where Del_State=1
        <if test="stationName!=null and stationName!=''">
            and Station_Name = #{stationName}
        </if>
        <if test="routeName!=null and routeName!=''">
            and Route_Name = #{routeName}
        </if>
		limit 1
	</select>

	<select id="getStationSiteById" resultType="StationSite">
		select  * from station_site where S_Id=#{id} and Del_State=1
	</select>

	<insert id="addStationSite" parameterType="StationSite">
		insert into station_site (S_Id,Station_Id,Station_Name,Station_Ip,Station_Port,Station_Longitude,Station_Latitude,Del_State,Route_Name,
		company,province_station_name,mask,gateway,lanes,province_station_stake_mark,System_Location_stake_mark,Completion_date,station_info,province_station)
			values(#{sId},#{stationId},#{stationName},#{stationIp},#{stationPort},#{stationLongitude},#{stationLatitude},#{delState},#{routeName},
			#{company},#{provinceStationName},#{mask},#{gateway},#{lanes},#{provinceStationStakeMark},#{systemLocationStakeMark},#{completionDate},#{stationInfo},#{provinceStation})
	</insert>

	<insert id="addCompanySite" keyProperty="id" useGeneratedKeys="true" parameterType="companySite" >
		insert into t_dic_company values(#{id},#{companyName},#{stationPort},#{groups})
	</insert>

	<update id="updStationSite" parameterType="StationSite">
		update station_site set
		Station_Id=#{stationId},
		Station_Name=#{stationName},
		Station_Ip=#{stationIp},
		Station_Port=#{stationPort},
		Station_Longitude=#{stationLongitude},
		Station_Latitude=#{stationLatitude},
		Route_Name=#{routeName},
		company=#{company},
		province_station_name=#{provinceStationName},
		mask=#{mask},
		gateway=#{gateway},
		lanes=#{lanes},
		province_station_stake_mark=#{provinceStationStakeMark},
		System_Location_stake_mark=#{systemLocationStakeMark},
		Completion_date=#{completionDate},
		station_info=#{stationInfo},
		province_station=#{provinceStation}
		where S_Id=#{sId}
	</update>

	<update id="updateCompanySite" parameterType="companySite">
		update t_dic_company set
		company_name=#{companyName},
		station_port=#{stationPort},
		groups=#{groups}
		where id=#{id}
	</update>

	<update id="delStationSite">
		update station_site set Del_State=0 where S_Id=#{id}
	</update>

	<update id="delCompanySite">
		delete from t_dic_company  where id=#{id}
	</update>

	<select id="iscountCompanySiteName" resultType="int">
		select count(*) from t_dic_company where company_name=#{name}
	</select>
	<select id="countNumCompanySite" resultType="int">
		select count(*) from t_dic_company
	</select>

	<select id="iscountStationIp" resultType="int">
		select count(Station_Ip) from station_site where Station_Ip=#{stationIp} and Del_State=1
	</select>
	<select id="iscountStationPort" resultType="int">
		select count(Station_Port) from station_site where Station_Port=#{stationPort} and Del_State=1
	</select>

	<select id="getCompanyStation" resultType="CompanySite">
		select a.*,GROUP_CONCAT(b.Route_Name) stationName from t_dic_company a LEFT JOIN station_site b on FIND_IN_SET(b.Station_Port,a.station_port) GROUP BY a.id
	</select>

	<select id="xg_iscountStationIp" resultType="int">
		select count(Station_Ip) from station_site where Station_Ip=#{stationIp} and Del_State=1 and S_Id!=#{id}
	</select>
	<select id="xg_iscountStationPort" resultType="int">
		select count(Station_Port) from station_site where Station_Port=#{stationPort} and Del_State=1 and S_Id!=#{id}
	</select>

	<select id="getStationSiteByPort" resultType="StationSite">
		select a.* from station_site a where <include refid="stationPort_sql"></include>
	</select>
	<sql id="stationPort_sql">
		<if test="stationPort!=null and stationPort!=''">
			<if test="stationPort.indexOf(',')!=-1">
				a.Station_Port in
				<foreach collection="stationPort.split(',')" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="stationPort.indexOf(',')==-1">
				a.Station_Port=#{stationPort}
			</if>
		</if>
	</sql>


	<select id="getAccessoryByPort" resultType="Accessory">
		select * from accessory where a_id=(select S_Id from station_site where Station_Port=#{stationPort})
	</select>

</mapper>
