<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.tAvgDayDao">


    <select id="gettAvgDayByIpAndTime" resultType="tAvgDay">
  			select * from t_avg_day where Station_IP=#{stationIP} and Avg_Time=#{avgTime} and Avg_LaneNo=#{avgLaneNo}
  		</select>

    <select id="gettAvgDayTotalByTime" resultType="tAvgDay">
  			select * from t_avg_day_total where  Avg_Time=#{avgTime}
  		</select>

    <select id="getColumnNameStrByTableName" resultType="string">
  			SELECT GROUP_CONCAT(COLUMN_NAME SEPARATOR ",") FROM information_schema.COLUMNS
			WHERE  TABLE_NAME = #{tableName}
  		</select>

    <select id="getEchartsListByLaneNoAndColumnX" resultType="string">
  			SELECT ${columnName} FROM t_avg_day
			WHERE  Station_IP=#{stationIP}	and Avg_LaneNo=#{laneNo}	order by Avg_Time
    </select>

    <select id="getEchartsListByLaneNoAndColumnY" resultType="string">
  			SELECT Avg_Time	FROM t_avg_day
			WHERE  Station_IP=#{stationIP}	and Avg_LaneNo=#{laneNo} order by Avg_Time
    </select>

    <select id="getEchartsListByLaneNoAndColumnX_week" resultType="string">
  			SELECT ${columnName} FROM t_avg_week
			WHERE  Station_IP=#{stationIP}	and Avg_LaneNo=#{laneNo}	order by Avg_Time
    </select>

    <select id="getEchartsListByLaneNoAndColumnY_week" resultType="string">
  			SELECT Avg_Time	FROM t_avg_week
			WHERE  Station_IP=#{stationIP}	and Avg_LaneNo=#{laneNo} order by Avg_Time
    </select>

    <select id="getEchartsListByLaneNoAndColumnX_lgs" resultType="string">
  			SELECT case when ${columnName} is null then 0 else ${columnName} end FROM t_avg_day_lgs
			WHERE  company_name=#{companyName}		order by Avg_Time
    </select>

    <select id="getEchartsListByLaneNoAndColumnY_lgs" resultType="string">
  			SELECT Avg_Time	FROM t_avg_day_lgs
			WHERE  company_name=#{companyName}	 order by Avg_Time
    </select>

    <select id="getEchartsListByLaneNoAndColumnX_lgs_week" resultType="string">
  			SELECT case when ${columnName} is null then 0 else ${columnName} end FROM t_avg_week_lgs
			WHERE  company_name=#{companyName}		order by Avg_Time
    </select>

    <select id="getEchartsListByLaneNoAndColumnY_lgs_week" resultType="string">
  			SELECT Avg_Time	FROM t_avg_week_lgs
			WHERE  company_name=#{companyName}	 order by Avg_Time
    </select>

    <select id="getEchartsListByLaneNoAndColumnX_sj" resultType="string">
  			SELECT case when ${columnName} is null then 0 else ${columnName} end FROM t_avg_day_sj
			WHERE  province_station=#{provinceName}		order by Avg_Time
    </select>

    <select id="getEchartsListByLaneNoAndColumnY_sj" resultType="string">
  			SELECT Avg_Time	FROM t_avg_day_sj
			WHERE  province_station=#{provinceName}	 order by Avg_Time
    </select>

    <select id="getEchartsListByLaneNoAndColumnX_sj_week" resultType="string">
  			SELECT case when ${columnName} is null then 0 else ${columnName} end FROM t_avg_week_sj
			WHERE  province_station=#{provinceName}		order by Avg_Time
    </select>

    <select id="getEchartsListByLaneNoAndColumnY_sj_week" resultType="string">
  			SELECT Avg_Time	FROM t_avg_week_sj
			WHERE  province_station=#{provinceName}	 order by Avg_Time
    </select>

    <select id="getEchartsListByLaneNoAndColumnXMonth" resultType="string">
  			SELECT ${columnName} FROM t_avg_month
			WHERE  Station_IP=#{stationIP}	and Avg_LaneNo=#{laneNo}	order by Avg_Time
		</select>

    <select id="getEchartsListByLaneNoAndColumnYMonth" resultType="string">
  			SELECT Avg_Time	FROM t_avg_month
			WHERE  Station_IP=#{stationIP}	and Avg_LaneNo=#{laneNo} order by Avg_Time
  		</select>

    <select id="getEchartsListByLaneNoAndColumnXMonth_lgs" resultType="string">
  			SELECT case when ${columnName} is null then 0 else ${columnName} end FROM t_avg_month_lgs
			WHERE  company_name=#{companyName}		order by Avg_Time
		</select>

    <select id="getEchartsListByLaneNoAndColumnYMonth_lgs" resultType="string">
  			SELECT Avg_Time	FROM t_avg_month_lgs
			WHERE  company_name=#{companyName}	 order by Avg_Time
  		</select>

    <select id="getEchartsListByLaneNoAndColumnXMonth_sj" resultType="string">
  			SELECT case when ${columnName} is null then 0 else ${columnName} end FROM t_avg_month_sj
			WHERE  province_station=#{provinceName}		order by Avg_Time
		</select>

    <select id="getEchartsListByLaneNoAndColumnYMonth_sj" resultType="string">
  			SELECT Avg_Time	FROM t_avg_month_sj
			WHERE  province_station=#{provinceName}	 order by Avg_Time
  		</select>


    <select id="gettAvgDayColumnByIpAndTime" resultType="tAvgDayColumn">
        SELECT
        ID,
        Avg_Time,
        Avg_LaneNo,
        Avg_Max,
        Avg_Count column5,
        Axles_Count_2 column6,
        Axles_Count_3 column7,
        Axles_Count_4 column8,
        Axles_Count_5 column9,
        Axles_Count_6 column10,
        Avg_Overload_Count column11,
        Avg_Overload_Count_2 column12,
        Avg_Overload_Count_3 column13,
        Avg_Overload_Count_4 column14,
        Avg_Overload_Count_5 column15,
        Avg_Overload_Count_6 column16,
        Avg_Overload_Ratio*100 column17,
        Avg_Overload_Ratio_2*100 column18,
        Avg_Overload_Ratio_3*100 column19,
        Avg_Overload_Ratio_4*100 column20,
        Avg_Overload_Ratio_5*100 column21,
        Avg_Overload_Ratio_6*100 column22,
        ROUND(Avg_Overload_Count/Avg_Count*100,2) column23,
        ROUND(Avg_Overload_Count_2/Axles_Count_2*100,2) column24,
        ROUND(Avg_Overload_Count_3/Axles_Count_3*100,2) column25,
        ROUND(Avg_Overload_Count_4/Axles_Count_4*100,2) column26,
        ROUND(Avg_Overload_Count_5/Axles_Count_5*100,2) column27,
        ROUND(Avg_Overload_Count_6/Axles_Count_6*100,2) column28,
        Avg_Max_ID,
        Station_IP
        FROM
        t_avg_day
        <where>
            Station_IP=#{stationIP} and Avg_Time=#{avgTime}

        </where>
    </select>

    <select id="gettAvgDayColumnByIpAndTime_week" resultType="tAvgDayColumn">
        SELECT
        ID,
        Avg_Time,
        Avg_LaneNo,
        Avg_Max,
        Avg_Count column5,
        Axles_Count_2 column6,
        Axles_Count_3 column7,
        Axles_Count_4 column8,
        Axles_Count_5 column9,
        Axles_Count_6 column10,
        Avg_Overload_Count column11,
        Avg_Overload_Count_2 column12,
        Avg_Overload_Count_3 column13,
        Avg_Overload_Count_4 column14,
        Avg_Overload_Count_5 column15,
        Avg_Overload_Count_6 column16,
        Avg_Overload_Ratio*100 column17,
        Avg_Overload_Ratio_2*100 column18,
        Avg_Overload_Ratio_3*100 column19,
        Avg_Overload_Ratio_4*100 column20,
        Avg_Overload_Ratio_5*100 column21,
        Avg_Overload_Ratio_6*100 column22,
        ROUND(Avg_Overload_Count/Avg_Count*100,2) column23,
        ROUND(Avg_Overload_Count_2/Axles_Count_2*100,2) column24,
        ROUND(Avg_Overload_Count_3/Axles_Count_3*100,2) column25,
        ROUND(Avg_Overload_Count_4/Axles_Count_4*100,2) column26,
        ROUND(Avg_Overload_Count_5/Axles_Count_5*100,2) column27,
        ROUND(Avg_Overload_Count_6/Axles_Count_6*100,2) column28,
        Avg_Max_ID,
        Station_IP
        FROM
        t_avg_week
        <where>
            Station_IP=#{stationIP} and Avg_Time=#{avgTime}
        </where>
    </select>


    <select id="gettAvgDayColumnByCompanyNameAndTime_lgs" resultType="tAvgDayColumn">
        SELECT
        ID,
        Avg_Time,
        Avg_LaneNo,
        Avg_Max,
        Avg_Count column5,
        Axles_Count_2 column6,
        Axles_Count_3 column7,
        Axles_Count_4 column8,
        Axles_Count_5 column9,
        Axles_Count_6 column10,
        Avg_Overload_Count column11,
        Avg_Overload_Count_2 column12,
        Avg_Overload_Count_3 column13,
        Avg_Overload_Count_4 column14,
        Avg_Overload_Count_5 column15,
        Avg_Overload_Count_6 column16,
        Avg_Overload_Ratio*100 column17,
        Avg_Overload_Ratio_2*100 column18,
        Avg_Overload_Ratio_3*100 column19,
        Avg_Overload_Ratio_4*100 column20,
        Avg_Overload_Ratio_5*100 column21,
        Avg_Overload_Ratio_6*100 column22,
        ROUND(Avg_Overload_Count/Avg_Count*100,2) column23,
        ROUND(Avg_Overload_Count_2/Axles_Count_2*100,2) column24,
        ROUND(Avg_Overload_Count_3/Axles_Count_3*100,2) column25,
        ROUND(Avg_Overload_Count_4/Axles_Count_4*100,2) column26,
        ROUND(Avg_Overload_Count_5/Axles_Count_5*100,2) column27,
        ROUND(Avg_Overload_Count_6/Axles_Count_6*100,2) column28,
        Avg_Max_ID
        FROM
        t_avg_day_lgs
        <where>
            company_name=#{companyName} and Avg_Time=#{avgTime}

        </where>
    </select>

    <select id="gettAvgDayColumnByCompanyNameAndTime_lgs_week" resultType="tAvgDayColumn">
        SELECT
        ID,
        Avg_Time,
        Avg_Max,
        Avg_Count column5,
        Axles_Count_2 column6,
        Axles_Count_3 column7,
        Axles_Count_4 column8,
        Axles_Count_5 column9,
        Axles_Count_6 column10,
        Avg_Overload_Count column11,
        Avg_Overload_Count_2 column12,
        Avg_Overload_Count_3 column13,
        Avg_Overload_Count_4 column14,
        Avg_Overload_Count_5 column15,
        Avg_Overload_Count_6 column16,
        Avg_Overload_Ratio*100 column17,
        Avg_Overload_Ratio_2*100 column18,
        Avg_Overload_Ratio_3*100 column19,
        Avg_Overload_Ratio_4*100 column20,
        Avg_Overload_Ratio_5*100 column21,
        Avg_Overload_Ratio_6*100 column22,
        ROUND(Avg_Overload_Count/Avg_Count*100,2) column23,
        ROUND(Avg_Overload_Count_2/Axles_Count_2*100,2) column24,
        ROUND(Avg_Overload_Count_3/Axles_Count_3*100,2) column25,
        ROUND(Avg_Overload_Count_4/Axles_Count_4*100,2) column26,
        ROUND(Avg_Overload_Count_5/Axles_Count_5*100,2) column27,
        ROUND(Avg_Overload_Count_6/Axles_Count_6*100,2) column28,
        Avg_Max_ID
        FROM
        t_avg_week_lgs
        <where>
            company_name=#{companyName} and Avg_Time=#{avgTime}

        </where>
    </select>

    <select id="gettAvgDayColumnByCompanyNameAndTime_sj" resultType="tAvgDayColumn">
        SELECT
        ID,
        Avg_Time,
        -- Avg_LaneNo,
        Avg_Max,
        Avg_Count column5,
        Axles_Count_2 column6,
        Axles_Count_3 column7,
        Axles_Count_4 column8,
        Axles_Count_5 column9,
        Axles_Count_6 column10,
        Avg_Overload_Count column11,
        Avg_Overload_Count_2 column12,
        Avg_Overload_Count_3 column13,
        Avg_Overload_Count_4 column14,
        Avg_Overload_Count_5 column15,
        Avg_Overload_Count_6 column16,
        Avg_Overload_Ratio*100 column17,
        Avg_Overload_Ratio_2*100 column18,
        Avg_Overload_Ratio_3*100 column19,
        Avg_Overload_Ratio_4*100 column20,
        Avg_Overload_Ratio_5*100 column21,
        Avg_Overload_Ratio_6*100 column22,
        ROUND(Avg_Overload_Count/Avg_Count*100,2) column23,
        ROUND(Avg_Overload_Count_2/Axles_Count_2*100,2) column24,
        ROUND(Avg_Overload_Count_3/Axles_Count_3*100,2) column25,
        ROUND(Avg_Overload_Count_4/Axles_Count_4*100,2) column26,
        ROUND(Avg_Overload_Count_5/Axles_Count_5*100,2) column27,
        ROUND(Avg_Overload_Count_6/Axles_Count_6*100,2) column28,
        Avg_Max_ID
        -- Station_IP
        FROM
        t_avg_day_sj
        <where>
            province_station=#{provinceName} and Avg_Time=#{avgTime}
        </where>
    </select>


    <select id="gettAvgDayColumnByCompanyNameAndTime_sj_week" resultType="tAvgDayColumn">
        SELECT
        ID,
        Avg_Time,
        -- Avg_LaneNo,
        Avg_Max,
        Avg_Count column5,
        Axles_Count_2 column6,
        Axles_Count_3 column7,
        Axles_Count_4 column8,
        Axles_Count_5 column9,
        Axles_Count_6 column10,
        Avg_Overload_Count column11,
        Avg_Overload_Count_2 column12,
        Avg_Overload_Count_3 column13,
        Avg_Overload_Count_4 column14,
        Avg_Overload_Count_5 column15,
        Avg_Overload_Count_6 column16,
        Avg_Overload_Ratio*100 column17,
        Avg_Overload_Ratio_2*100 column18,
        Avg_Overload_Ratio_3*100 column19,
        Avg_Overload_Ratio_4*100 column20,
        Avg_Overload_Ratio_5*100 column21,
        Avg_Overload_Ratio_6*100 column22,
        ROUND(Avg_Overload_Count/Avg_Count*100,2) column23,
        ROUND(Avg_Overload_Count_2/Axles_Count_2*100,2) column24,
        ROUND(Avg_Overload_Count_3/Axles_Count_3*100,2) column25,
        ROUND(Avg_Overload_Count_4/Axles_Count_4*100,2) column26,
        ROUND(Avg_Overload_Count_5/Axles_Count_5*100,2) column27,
        ROUND(Avg_Overload_Count_6/Axles_Count_6*100,2) column28,
        Avg_Max_ID
        -- Station_IP
        FROM
        t_avg_week_sj
        <where>
            province_station=#{provinceName} and Avg_Time=#{avgTime}
        </where>
    </select>

    <select id="gettAvgDayColumnByIpAndTimeMonth" resultType="tAvgDayColumn">
        SELECT
        ID,
        Avg_Time,
        Avg_LaneNo,
        Avg_Max,
        Avg_Count column5,
        Axles_Count_2 column6,
        Axles_Count_3 column7,
        Axles_Count_4 column8,
        Axles_Count_5 column9,
        Axles_Count_6 column10,
        Avg_Overload_Count column11,
        Avg_Overload_Count_2 column12,
        Avg_Overload_Count_3 column13,
        Avg_Overload_Count_4 column14,
        Avg_Overload_Count_5 column15,
        Avg_Overload_Count_6 column16,
        Avg_Overload_Ratio*100 column17,
        Avg_Overload_Ratio_2*100 column18,
        Avg_Overload_Ratio_3*100 column19,
        Avg_Overload_Ratio_4*100 column20,
        Avg_Overload_Ratio_5*100 column21,
        Avg_Overload_Ratio_6*100 column22,
        ROUND(Avg_Overload_Count/Avg_Count*100,2) column23,
        ROUND(Avg_Overload_Count_2/Axles_Count_2*100,2) column24,
        ROUND(Avg_Overload_Count_3/Axles_Count_3*100,2) column25,
        ROUND(Avg_Overload_Count_4/Axles_Count_4*100,2) column26,
        ROUND(Avg_Overload_Count_5/Axles_Count_5*100,2) column27,
        ROUND(Avg_Overload_Count_6/Axles_Count_6*100,2) column28,
        Station_IP,
        Avg_Max_ID,
        Avg_Days
        FROM
        t_avg_month
        <where>
            Station_IP=#{stationIP} and Avg_Time=#{avgTime}
        </where>
    </select>

    <select id="gettAvgDayColumnByIpAndTimeMonth_lgs" resultType="tAvgDayColumn">
        SELECT
        ID,
        Avg_Time,
        -- Avg_LaneNo,
        Avg_Max,
        Avg_Count column5,
        Axles_Count_2 column6,
        Axles_Count_3 column7,
        Axles_Count_4 column8,
        Axles_Count_5 column9,
        Axles_Count_6 column10,
        Avg_Overload_Count column11,
        Avg_Overload_Count_2 column12,
        Avg_Overload_Count_3 column13,
        Avg_Overload_Count_4 column14,
        Avg_Overload_Count_5 column15,
        Avg_Overload_Count_6 column16,
        Avg_Overload_Ratio*100 column17,
        Avg_Overload_Ratio_2*100 column18,
        Avg_Overload_Ratio_3*100 column19,
        Avg_Overload_Ratio_4*100 column20,
        Avg_Overload_Ratio_5*100 column21,
        Avg_Overload_Ratio_6*100 column22,
        ROUND(Avg_Overload_Count/Avg_Count*100,2) column23,
        ROUND(Avg_Overload_Count_2/Axles_Count_2*100,2) column24,
        ROUND(Avg_Overload_Count_3/Axles_Count_3*100,2) column25,
        ROUND(Avg_Overload_Count_4/Axles_Count_4*100,2) column26,
        ROUND(Avg_Overload_Count_5/Axles_Count_5*100,2) column27,
        ROUND(Avg_Overload_Count_6/Axles_Count_6*100,2) column28,
        -- Station_IP,
        Avg_Max_ID
        -- Avg_Days
        FROM
        t_avg_month_lgs
        <where>
            company_name=#{companyName} and Avg_Time=#{avgTime}
        </where>
    </select>

    <select id="gettAvgDayColumnByIpAndTimeMonth_sj" resultType="tAvgDayColumn">
        SELECT
        ID,
        Avg_Time,
        -- Avg_LaneNo,
        Avg_Max,
        Avg_Count column5,
        Axles_Count_2 column6,
        Axles_Count_3 column7,
        Axles_Count_4 column8,
        Axles_Count_5 column9,
        Axles_Count_6 column10,
        Avg_Overload_Count column11,
        Avg_Overload_Count_2 column12,
        Avg_Overload_Count_3 column13,
        Avg_Overload_Count_4 column14,
        Avg_Overload_Count_5 column15,
        Avg_Overload_Count_6 column16,
        Avg_Overload_Ratio*100 column17,
        Avg_Overload_Ratio_2*100 column18,
        Avg_Overload_Ratio_3*100 column19,
        Avg_Overload_Ratio_4*100 column20,
        Avg_Overload_Ratio_5*100 column21,
        Avg_Overload_Ratio_6*100 column22,
        ROUND(Avg_Overload_Count/Avg_Count*100,2) column23,
        ROUND(Avg_Overload_Count_2/Axles_Count_2*100,2) column24,
        ROUND(Avg_Overload_Count_3/Axles_Count_3*100,2) column25,
        ROUND(Avg_Overload_Count_4/Axles_Count_4*100,2) column26,
        ROUND(Avg_Overload_Count_5/Axles_Count_5*100,2) column27,
        ROUND(Avg_Overload_Count_6/Axles_Count_6*100,2) column28,
        -- Station_IP,
        Avg_Max_ID
        -- Avg_Days
        FROM
        t_avg_month_sj
        <where>
            province_station=#{provinceName} and Avg_Time=#{avgTime}
        </where>
    </select>


    <select id="gettAvgMonthByIpAndTime" resultType="tAvgMonth">
  			select * from t_avg_month where Station_IP=#{stationIP} and Avg_Time=#{avgTime} and Avg_LaneNo=#{avgLaneNo}
  	</select>

    <select id="gettjfxTotalEchars" resultType="tjfxTotalEchars">
        SELECT
            a.Avg_Time,
            sum(a.Avg_Count) as zongliuliangnum,
            sum(a.Avg_Overload_Count) as zongchaozainum,
            sum(Range80Count2) as yijiyujingnum,
            sum(a.RangeCount3) as erjiyujingnum
        FROM
            t_avg_day a
        WHERE
            a.Avg_LaneNo = '0'  GROUP BY a.Avg_Time
    </select>

</mapper>