<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.TDicCompanyDao">

    <select id="getTDicCompanyById" resultType="map">
        select * from t_dic_company where id = #{id}
    </select>

</mapper>
