<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.tPermissionsDao" >

	<select id="getAllUPermissionsRole" resultType="tPermissions">
        select id,name,coding,delete_State from t_permisssions where delete_state=1 order by LENGTH(coding)
    </select>

	<update id="updUsrPersmissionCodingById">
		update t_user_info set Usr_Persmission_Coding=#{UsrPersmissionCoding} where Usr_Id=#{usrId}
	</update>
</mapper>