<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.tUserInfoDao">

    <insert id="addtUserInfo" parameterType="tUserInfo">
		insert into t_user_info (Usr_Id,Usr_Name,Usr_Pwd,Usr_Sex,Usr_Phone,Usr_Role,Station_Port,Station_Name,Del_State)
			values(#{usrId},#{usrName},#{usrPwd},#{usrSex},#{usrPhone},#{usrRole},#{stationPort},#{stationName},#{delState})
	</insert>

    <update id="updatetUserInfo" parameterType="tUserInfo">
		update t_user_info set
		Usr_Name=#{usrName},
		Usr_Pwd=#{usrPwd},
		Usr_Sex=#{usrSex},
		Usr_Phone=#{usrPhone},
		Usr_Role=#{usrRole},
		Station_Port=#{stationPort},
		Station_Name=#{stationName}
		where Usr_Id=#{usrId}
	</update>

    <update id="updatepasswordById">
		update t_user_info set
		Usr_Pwd=#{usrPwd}
		where Usr_Id=#{usrId}
	</update>

    <update id="deltUserInfo">
		update t_user_info set Del_State=0 where Usr_Id=#{id}
	</update>

    <select id="getAlltUserInfo" resultType="tUserInfoVo">
		select  a.*,b.company_name from t_user_info a
		 left join t_dic_company  b on a.Usr_Role=b.id
		 where Del_State=1
	</select>

    <select id="iscountName" resultType="int">
		select count(Usr_Name) from t_user_info where Usr_Name=#{name} and Del_State=1
	</select>

    <select id="iscountUNameEdit" parameterType="String" resultType="int">
		select count(Usr_Name) from t_user_info where Usr_Name=#{name} and Usr_Id !=#{id} and Del_State=1
	</select>

    <select id="selectUserByUsrName" resultType="tUserInfoVo">

		SELECT
		tui.*,GROUP_CONCAT(CONCAT(ss.Station_Longitude,"-",ss.Station_Latitude)) as lnglat,tdc.station_port as stationPort,tdc.company_name,tdc.groups,GROUP_CONCAT(ss.station_Name) stationName
		FROM
			t_user_info tui
		LEFT JOIN t_dic_company tdc on tui.Usr_Role=tdc.id
		LEFT JOIN station_site ss
		on FIND_IN_SET(ss.Station_Port,tdc.station_port)
		WHERE
		tui.Usr_Name = #{name} and tui.Del_State=1
	</select>

    <select id="selectUserById" resultType="tUserInfoVo">
		SELECT
		tui.*,GROUP_CONCAT(CONCAT(ss.Station_Longitude,"-",ss.Station_Latitude)) as lnglat
		FROM
			t_user_info tui
		LEFT JOIN station_site ss
		on FIND_IN_SET(ss.Station_Port,tui.Station_Port)
		WHERE
		Usr_Id = #{usrId} and tui.Del_State=1
	</select>

    <update id="updlastMonitoringSiteById">
		update t_user_info set
		Last_Monitoring_Site=#{lastMonitoringSite}
		where Usr_Id=#{usrId}
	</update>
</mapper>