<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.tWimMsgDao">

    <sql id="StationIP_sql">
        <if test="stationPort!=null and stationPort!=''">
            <if test="stationPort.indexOf(',')!=-1">
                a.Station_IP in
                <foreach collection="stationPort.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="stationPort.indexOf(',')==-1">
                a.Station_IP=#{stationPort}
            </if>
            ORDER BY a.Evt_Time desc limit 5
        </if>
    </sql>
    <sql id="StationIP_sql_tongji">
        <if test="stationPort!=null and stationPort!=''">
            <if test="stationPort.indexOf(',')!=-1">
                and a.Station_IP in
                <foreach collection="stationPort.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="stationPort.indexOf(',')==-1">
                and a.Station_IP=#{stationPort}
            </if>
            /*ORDER BY a.Evt_Time desc*/
        </if>
    </sql>
    <sql id="CheXing_IP_sql_tongji">
        <if test="chexing!=null and chexing!=''">
            and FIND_IN_SET(a.Class_Index,#{chexing})
        </if>
    </sql>
    <sql id="StationIP_chaozaishuju_sql">
        <if test="stationPort!=null and stationPort!=''">
            <if test="stationPort.indexOf(',')!=-1">
                a.Station_IP in
                <foreach collection="stationPort.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="stationPort.indexOf(',')==-1">
                a.Station_IP=#{stationPort}
            </if>
            ORDER BY a.Evt_Time desc
        </if>
    </sql>

    <select id="getAlltWimMsg" resultType="tWimMsgVo">
        select CASE a.Direction WHEN 0 THEN '正常行驶'
        ELSE '逆行'
        END as directionName,
        CASE a.Is_Straddle WHEN 0 THEN '否'
        ELSE '是'
        end as isStraddleName,
        CASE a.Lane_No WHEN 1 THEN '超车道'
        WHEN 2 THEN '行车道'
        ELSE '应急车道'
        end as laneNoName,
        CASE WHEN a.Over_Weight_Ratio>0 THEN '超载'
        ELSE '不超载'
        end as overWeightRatioName,
        a.*,b.Station_Name,b.Route_Name,concat_ws("+",b.Station_Name,b.Route_Name) as stationNameRouteName,
        c.License_Plate_Color,d.Vehicle_Type_Name,IFNULL(e.Overload_Standard,49000) as maxWeight
        from (SELECT a.* from t_vehicle_msg_today a where <include refid="StationIP_sql"></include>) a
        LEFT JOIN station_site b on a.Station_IP=b.Station_Port
        LEFT JOIN license_plate c ON a.Plate_Color=c.License_Plate_No
        LEFT JOIN vehicle_type d ON a.Class_Index=d.Vehicle_Type_No
        LEFT JOIN overload_standard e on a.Axles_Count=e.Axle_Number
    </select>

    <select id="getAlltWimMsgByCondition" fetchSize="-2147483648" resultType="tWimMsgVo">
        SELECT * FROM (SELECT
        CASE aa.Direction
        WHEN 0 THEN
        '正常行驶'
        ELSE
        '逆行'
        END AS directionName,
        CASE aa.Is_Straddle
        WHEN 0 THEN
        '否'
        ELSE
        '是'
        END AS isStraddleName,
        aa.Lane_No as laneNoName,
        CASE WHEN aa.Over_Weight_Ratio>0 THEN aa.Over_Weight_Ratio
        ELSE '不超载'
        end as overWeightRatioName,
        aa.*, b.Station_Name,
        b.Route_Name,
        concat_ws(
        "+",
        b.Station_Name,
        b.Route_Name
        ) AS stationNameRouteName,
        c.License_Plate_Color,
        d.Vehicle_Type_Name,IFNULL(e.Overload_Standard,49000) as maxWeight
        FROM
        (
        SELECT * FROM t_vehicle_msg WHERE id_local in (
        SELECT id_local from (
        select id_local from t_vehicle_msg a
        <where>
            <if test="startTime!=null and startTime!='' ">
                and #{startTime} &lt;= Evt_Time
            </if>
            <if test="endTime!=null and endTime!='' ">
                and Evt_Time &lt;= #{endTime}
            </if>
            <if test="startWeight!=null and startWeight!='' ">
                and #{startWeight} &lt; total_weight
            </if>
            <if test="endWeight!=null and endWeight!='' ">
                and total_weight &lt; #{endWeight}
            </if>

            <if test="chesuStart!=null and chesuStart!='' ">
                and #{chesuStart} &lt; speed
            </if>
            <if test="chesuEnd!=null and chesuEnd!='' ">
                and speed &lt; #{chesuEnd}
            </if>
            <if test="cheChangStart!=null and cheChangStart!='' ">
                and #{cheChangStart} &lt; length
            </if>
            <if test="cheChangEnd!=null and cheChangEnd!='' ">
                and length &lt; #{cheChangEnd}
            </if>

            <if test="roadTmpStart!=null and roadTmpStart!='' ">
                and #{roadTmpStart} &lt; Temperature
            </if>
            <if test="roadTmpEnd!=null and roadTmpEnd!='' ">
                and Temperature &lt; #{roadTmpEnd}
            </if>

            <if test="chaozhongStart !=null and chaozhongStart!=''">
                and Over_Weight_Ratio >0
            </if>
            <if test="chaozhongEnd!=null and chaozhongEnd!='' ">
                and Over_Weight_Ratio &lt; #{chaozhongEnd}
            </if>

            <if test="chepai!=null and chepai!='' ">
                and Plate like CONCAT('%',#{chepai},'%')
            </if>

            <if test="zhoushu!=null and zhoushu!='' ">
                and Axles_Count = #{zhoushu}
            </if>


            <include refid="CheXing_IP_sql_tongji">
            </include>
            <include refid="StationIP_sql_tongji">
            </include>

        </where>
        <if test="columnName !='' and columnName !=null ">
            ORDER BY
            ${columnName}
        </if>
        <if test="columnName =='' or columnName ==null ">
            ORDER BY
            Evt_Time
            DESC
        </if>
        <if test="start !=null">
            LIMIT #{start},
            #{length}
        </if>
        ) an
        )) aa
        LEFT JOIN station_site b ON aa.Station_IP = b.Station_Port
        LEFT JOIN license_plate c ON aa.Plate_Color = c.License_Plate_No
        LEFT JOIN vehicle_type d ON aa.Class_Index = d.Vehicle_Type_No
        LEFT JOIN overload_standard e on aa.Axles_Count=e.Axle_Number)aaa
        <if test="columnName !='' and columnName !=null ">
            ORDER BY
            aaa.${columnName}
        </if>
        <if test="columnName =='' or columnName ==null ">
            ORDER BY
            aaa.Evt_Time
            DESC
        </if>
    </select>
    <select id="getAlltWimMsgYiChangByCondition" fetchSize="-2147483648" resultType="tWimMsgVo">
        SELECT * FROM (SELECT
        CASE aa.Direction
        WHEN 0 THEN
        '正常行驶'
        ELSE
        '逆行'
        END AS directionName,
        CASE aa.Is_Straddle
        WHEN 0 THEN
        '否'
        ELSE
        '是'
        END AS isStraddleName,
        aa.Lane_No as laneNoName,
        CASE WHEN aa.Over_Weight_Ratio>0 THEN aa.Over_Weight_Ratio
        ELSE '不超载'
        end as overWeightRatioName,
        aa.*, b.Station_Name,
        b.Route_Name,
        concat_ws(
        "+",
        b.Station_Name,
        b.Route_Name
        ) AS stationNameRouteName,
        c.License_Plate_Color,
        d.Vehicle_Type_Name,IFNULL(e.Overload_Standard,49000) as maxWeight
        FROM
        (select * from t_vehicle_msg_abnormal a
        <where>
            <if test="startTime!=null and startTime!='' ">
                and #{startTime} &lt;= msg_time
            </if>
            <if test="endTime!=null and endTime!='' ">
                and msg_time &lt;= #{endTime}
            </if>
            <if test="startWeight!=null and startWeight!='' ">
                and #{startWeight} &lt; total_weight
            </if>
            <if test="endWeight!=null and endWeight!='' ">
                and total_weight &lt; #{endWeight}
            </if>

            <if test="chesuStart!=null and chesuStart!='' ">
                and #{chesuStart} &lt; speed
            </if>
            <if test="chesuEnd!=null and chesuEnd!='' ">
                and speed &lt; #{chesuEnd}
            </if>
            <if test="cheChangStart!=null and cheChangStart!='' ">
                and #{cheChangStart} &lt; length
            </if>
            <if test="cheChangEnd!=null and cheChangEnd!='' ">
                and length &lt; #{cheChangEnd}
            </if>

            <if test="roadTmpStart!=null and roadTmpStart!='' ">
                and #{roadTmpStart} &lt; Temperature
            </if>
            <if test="roadTmpEnd!=null and roadTmpEnd!='' ">
                and Temperature &lt; #{roadTmpEnd}
            </if>

            <if test="chaozhongStart !=null and chaozhongStart!=''">
                and Over_Weight_Ratio >0
            </if>
            <if test="chaozhongEnd!=null and chaozhongEnd!='' ">
                and Over_Weight_Ratio &lt; #{chaozhongEnd}
            </if>

            <if test="chepai!=null and chepai!='' ">
                and Plate like CONCAT('%',#{chepai},'%')
            </if>

            <if test="zhoushu!=null and zhoushu!='' ">
                and Axles_Count = #{zhoushu}
            </if>


            <include refid="CheXing_IP_sql_tongji">
            </include>
            <include refid="StationIP_sql_tongji">
            </include>

        </where>
        <if test="columnName !='' and columnName !=null ">
            ORDER BY
            ${columnName}
        </if>
        <if test="columnName =='' or columnName ==null ">
            ORDER BY
            Evt_Time
            DESC
        </if>
        <if test="start !=null">
            LIMIT #{start},
            #{length}
        </if>
        ) aa
        LEFT JOIN station_site b ON aa.Station_IP = b.Station_Port
        LEFT JOIN license_plate c ON aa.Plate_Color = c.License_Plate_No
        LEFT JOIN vehicle_type d ON aa.Class_Index = d.Vehicle_Type_No
        LEFT JOIN overload_standard e on aa.Axles_Count=e.Axle_Number)aaa
        <if test="columnName !='' and columnName !=null ">
            ORDER BY
            aaa.${columnName}
        </if>
        <if test="columnName =='' or columnName ==null ">
            ORDER BY
            aaa.Evt_Time
            DESC
        </if>
    </select>

    <select id="getMeiRiCheLiuLiangByStationPort" resultType="int">
        SELECT COUNT(*) from t_vehicle_msg_today where  Station_IP=#{stationPort} AND date(Evt_Time) = curdate()
    </select>
    <select id="getMeiRiCheLiuLiangMaxByStationPort" resultType="int">
       SELECT IFNULL(max(a.cnt),0) FROM (SELECT COUNT(*) cnt FROM t_vehicle_msg_today WHERE date(Evt_Time) = curdate() GROUP BY Station_IP)a
    </select>

    <select id="getMeiRiChaoZhongByStationPort" resultType="int">
        SELECT COUNT(*) from t_vehicle_overweight where  Station_IP=#{stationPort} AND date(Evt_Time) = curdate() and Over_Weight>0
    </select>



    <select id="getChaoZaiEchartsList" resultType="CheLiuLiangEchartsList">

            SELECT
                    group_concat(aa.cntc SEPARATOR ',') AS nums,
                    group_concat(
                        aa.Station_Port SEPARATOR ','
                    ) AS station_ports,
                    group_concat(
                        aa.station_name SEPARATOR ','
                    ) AS station_names,
                    group_concat(aa.cnta SEPARATOR ',') AS numCount,
                    group_concat(aa.cntt SEPARATOR ',') AS nums2,
                    group_concat(aa.cntc/aa.cnta SEPARATOR ',') AS numsBili
                FROM
                    (
                        SELECT
                            COUNT(
                                CASE
                                WHEN a.Station_IP IS NOT NULL THEN
                                    0
                                END
                            ) cntc,
                            b.Station_Port,
                            b.Station_Name,
                                                cc.cnt as cnta,
                                                (cc.cnt - COUNT(
                                CASE
                                WHEN a.Station_IP IS NOT NULL THEN
                                    0
                                END
                            )) as cntt


                        FROM
                            t_vehicle_msg_today a
                        RIGHT JOIN station_site b ON a.Station_IP = b.Station_Port AND a.Over_Weight>0 AND date(a.Evt_Time) = curdate() and a.Total_Weight &lt;(SELECT Crux_Weight FROM crux_weight  WHERE Del_State = 1 AND lv = 2)
                        <if test="link!=null and link!=''">
                            and b.link = #{link}
                        </if>
                    RIGHT JOIN(
                                    SELECT
                                        COUNT(0) cntc
                                    FROM
                                        t_vehicle_msg_today

                                    WHERE
                                        Over_Weight>0 AND
                                        date(Evt_Time) = curdate() AND
                                        FIND_IN_SET(
                                            Station_IP,
                                            #{stationPorts}
                                        )
                                    ) c on 1=1
                                RIGHT JOIN(SELECT
                                            COUNT(
                                                CASE
                                                WHEN a.Station_IP IS NOT NULL THEN
                                                    0
                                                END
                                            ) cnt,
                                            bb.Station_Port,
                                            bb.Station_Name
                                            FROM
                                                t_vehicle_msg_today a
                                            RIGHT JOIN station_site bb ON a.Station_IP = bb.Station_Port AND date(a.Evt_Time) = curdate()
                                            GROUP BY
                                                bb.Station_Port
                                            HAVING FIND_IN_SET(bb.Station_Port,#{stationPorts})
                                            ORDER BY
                                                cnt DESC,bb.Station_Name) cc on cc.Station_Port = b.Station_Port
                                                GROUP BY
                                                    b.Station_Port
                                                HAVING
                                                    FIND_IN_SET(
                                                        b.Station_Port,
                                                         #{stationPorts}
                                                    )
                                                ORDER BY
                                                    cntc DESC,cc.Station_Name
                                                <if test="limit!=null and limit!=''">
                                                    LIMIT #{limit}
                                                </if>
                                            ) aa
    </select>


    <select id="getCountByTableName" resultType="int">
        SELECT COUNT(*) from t_vehicle_msg a
        <where>
            <if test="startTime!=null and startTime!='' ">
                and #{startTime} &lt;= Evt_Time
            </if>
            <if test="endTime!=null and endTime!='' ">
                and Evt_Time &lt;= #{endTime}
            </if>
            <if test="startWeight!=null and startWeight!='' ">
                and #{startWeight} &lt; total_weight
            </if>
            <if test="endWeight!=null and endWeight!='' ">
                and total_weight &lt; #{endWeight}
            </if>

            <if test="chesuStart!=null and chesuStart!='' ">
                and #{chesuStart} &lt; speed
            </if>
            <if test="chesuEnd!=null and chesuEnd!='' ">
                and speed &lt; #{chesuEnd}
            </if>
            <if test="cheChangStart!=null and cheChangStart!='' ">
                and #{cheChangStart} &lt; length
            </if>
            <if test="cheChangEnd!=null and cheChangEnd!='' ">
                and length &lt; #{cheChangEnd}
            </if>
            <if test="roadTmpStart!=null and roadTmpStart!='' ">
                and #{roadTmpStart} &lt; Temperature
            </if>
            <if test="roadTmpEnd!=null and roadTmpEnd!='' ">
                and Temperature &lt; #{roadTmpEnd}
            </if>

            <if test="chaozhongStart !=null and chaozhongStart!=''">
                and  Over_Weight_Ratio >0
            </if>
            <if test="chaozhongEnd!=null and chaozhongEnd!='' ">
                and Over_Weight_Ratio &lt; #{chaozhongEnd}
            </if>

            <if test="chepai!=null and chepai!='' ">
                and Plate like CONCAT('%',#{chepai},'%')
            </if>

            <if test="zhoushu!=null and zhoushu!='' ">
                and Axles_Count = #{zhoushu}
            </if>


            <include refid="CheXing_IP_sql_tongji">
            </include>
            <include refid="StationIP_sql_tongji">
            </include>

        </where>
    </select>
    <select id="getCountYiChangByTableName" resultType="int">
        SELECT COUNT(*) from t_vehicle_msg_abnormal a
        <where>
            <if test="startTime!=null and startTime!='' ">
                and #{startTime} &lt;= Evt_Time
            </if>
            <if test="endTime!=null and endTime!='' ">
                and Evt_Time &lt;= #{endTime}
            </if>
            <if test="startWeight!=null and startWeight!='' ">
                and #{startWeight} &lt; total_weight
            </if>
            <if test="endWeight!=null and endWeight!='' ">
                and total_weight &lt; #{endWeight}
            </if>

            <if test="chesuStart!=null and chesuStart!='' ">
                and #{chesuStart} &lt; speed
            </if>
            <if test="chesuEnd!=null and chesuEnd!='' ">
                and speed &lt; #{chesuEnd}
            </if>
            <if test="cheChangStart!=null and cheChangStart!='' ">
                and #{cheChangStart} &lt; length
            </if>
            <if test="cheChangEnd!=null and cheChangEnd!='' ">
                and length &lt; #{cheChangEnd}
            </if>
            <if test="roadTmpStart!=null and roadTmpStart!='' ">
                and #{roadTmpStart} &lt; Temperature
            </if>
            <if test="roadTmpEnd!=null and roadTmpEnd!='' ">
                and Temperature &lt; #{roadTmpEnd}
            </if>

            <if test="chaozhongStart !=null and chaozhongStart!=''">
                and  Over_Weight_Ratio >0
            </if>
            <if test="chaozhongEnd!=null and chaozhongEnd!='' ">
                and Over_Weight_Ratio &lt; #{chaozhongEnd}
            </if>

            <if test="chepai!=null and chepai!='' ">
                and Plate like CONCAT('%',#{chepai},'%')
            </if>

            <if test="zhoushu!=null and zhoushu!='' ">
                and Axles_Count = #{zhoushu}
            </if>


            <include refid="CheXing_IP_sql_tongji">
            </include>
            <include refid="StationIP_sql_tongji">
            </include>

        </where>
    </select>

    <select id="getMeiRiGuanJianCheLiangByStationPort" resultType="int">
        SELECT COUNT(*) from t_vehicle_overweight
        where  Station_IP=#{stationPort} AND date(Evt_Time) = curdate() and Total_Weight>(SELECT Crux_Weight FROM crux_weight where Del_State=1)
    </select>


    <select id="getHomeData" resultType="HomeData">
        SELECT * from (
        SELECT COUNT(*) totalChaoZai FROM t_vehicle_overweight a WHERE a.Over_Weight>0 and FIND_IN_SET(a.Station_IP,#{stationPorts}) and  date(a.Evt_Time) = curdate()
        ) aa LEFT JOIN (
        SELECT id_local,Total_Weight maxWeight FROM t_vehicle_overweight WHERE Total_Weight = (select MAX(a.Total_Weight) maxWeight FROM t_vehicle_overweight a  WHERE   date(a.Evt_Time) = curdate()) LIMIT 1
        )bb on 1= 1
        LEFT JOIN (
        select COUNT(*) totalCheLiu FROM t_vehicle_msg_today a WHERE  FIND_IN_SET(a.Station_IP,#{stationPorts}) and  date(a.Evt_Time) = curdate()
        )cc on 1= 1
        LEFT JOIN (
        select group_concat(b.link SEPARATOR ',') AS links FROM station_site b WHERE  FIND_IN_SET(b.Station_Port,#{stationPorts})
        )dd on 1= 1
        LEFT JOIN(
        select group_concat(b.Station_Name SEPARATOR ',') AS stationNames FROM station_site b WHERE  FIND_IN_SET(b.Station_Port,#{stationPorts})
        )ee on 1= 1
    </select>

    <select id="getCheLiuLiangEchartsList" resultType="CheLiuLiangEchartsList">
        SELECT
        group_concat(aa.cnt SEPARATOR ',') AS nums,
        group_concat(aa.Station_Port SEPARATOR ',') AS station_ports,
        group_concat(aa.station_name SEPARATOR ',') AS station_names
        FROM
		(
			SELECT * FROM(SELECT
			COUNT(
				CASE
				WHEN a.Station_IP IS NOT NULL THEN
					0
				END
			) cnt,
			b.Station_Port,
			b.Station_Name
			FROM
				t_vehicle_msg_today a
			RIGHT JOIN station_site b ON a.Station_IP = b.Station_Port AND date(a.Evt_Time) = curdate()
            <if test="link!=null and link!=''">
               and b.link #{link}
            </if>
			GROUP BY
				b.Station_Port
			HAVING FIND_IN_SET(b.Station_Port,#{stationPorts})
			ORDER BY
				cnt DESC,b.Station_Name ASC
			<if test="limit!=null and limit!=''">
                LIMIT #{limit}
            </if>
			)dd ORDER BY dd.cnt
		) aa
    </select>

    <select id="getGuanJianChaoZhongCheLiangEchartsList" resultType="CheLiuLiangEchartsList">
        SELECT
                group_concat(aaa.cnt SEPARATOR ',') AS cnt2,
                group_concat(aaa.Station_Port SEPARATOR ',') AS stationPorts,
                group_concat(aaa.Station_Name SEPARATOR ',') AS stationNames,
                group_concat(aaa.cnt2 SEPARATOR ',') AS cnt3
                FROM
                (select aa.cnt ,
        aa.Station_Port ,
        aa.Station_Name ,
        IFNULL(bb.cnt ,0)cnt2
                 from (SELECT
                            *
                        FROM
                    (
                        SELECT
                            COUNT(
                                CASE
                                WHEN a.Station_IP IS NOT NULL THEN
                                    0
                                END
                            ) cnt,
                            b.Station_Port,
                            b.Station_Name
                        FROM
                            t_vehicle_overweight a
                        RIGHT JOIN station_site b ON a.Station_IP = b.Station_Port
                        AND date(a.Evt_Time) = curdate()
                        <if test="link!=null and link!=''">
                            and b.link #{link}
                        </if>

                        AND
                            a.Total_Weight>=(SELECT Crux_Weight FROM crux_weight w  WHERE  Del_State = 1 AND w.lv = #{lv1} )
                            and a.Total_Weight &lt; (SELECT Crux_Weight FROM crux_weight w  WHERE  Del_State = 1 AND w.lv = #{lv2} )
                        GROUP BY
                            b.Station_Port
                        HAVING
                            FIND_IN_SET(b.Station_Port ,#{stationPorts})
                        ORDER BY
                            cnt DESC ,b.Station_Name ASC
                    ) dd
                ORDER BY
                    dd.cnt DESC) aa LEFT JOIN (SELECT
                    *
                FROM
                    (
                        SELECT
                            COUNT(
                                CASE
                                WHEN a.Station_IP IS NOT NULL THEN
                                    0
                                END
                            ) cnt,
                            b.Station_Port,
                            b.Station_Name
                        FROM
                            t_vehicle_overweight a
                        RIGHT JOIN station_site b ON a.Station_IP = b.Station_Port
                        AND date(a.Evt_Time) = curdate()
                        AND a.Total_Weight >= (
                            SELECT
                                Crux_Weight
                            FROM
                                crux_weight w
                            WHERE
                                Del_State = 1
                            AND w.lv = #{lv2}

                        )
                        GROUP BY
                            b.Station_Port
                        HAVING
                            FIND_IN_SET(b.Station_Port ,#{stationPorts})
                        ORDER BY
                            cnt DESC,b.Station_Name ASC
                        LIMIT 6
                    ) dd
                ORDER BY
                    dd.cnt DESC) bb on aa.Station_Port = bb.Station_Port ORDER BY aa.cnt DESC,bb.cnt DESC,bb.Station_Name ASC LIMIT 6
                ) aaa

    </select>


    <select id="getMeiRiGuanJianCheLiangMax" resultType="int">
        SELECT  IFNULL(max(a.cnt),0) FROM (SELECT COUNT(*) cnt from t_vehicle_overweight
        where   date(Evt_Time) = curdate() and Total_Weight>(SELECT Crux_Weight FROM crux_weight where Del_State=1) GROUP BY Station_IP)a
    </select>

    <select id="getMeiRiCheLiuLiangShujuByStationPort" resultType="tWimMsgVo">
        SELECT CASE a.Direction WHEN 0 THEN '正常行驶'
        ELSE '逆行'
        END as directionName,
        CASE a.Is_Straddle WHEN 0 THEN '否'
        ELSE '是'
        end as isStraddleName,
        CASE a.Lane_No WHEN 1 THEN '超车道'
        WHEN 2 THEN '行车道'
        ELSE '应急车道'
        end as laneNoName,
        CASE WHEN a.Over_Weight_Ratio>0 THEN '超载'
        ELSE '不超载'
        end as overWeightRatioName,
        a.*,b.Station_Name,b.Route_Name,concat_ws("+",b.Station_Name,b.Route_Name) as stationNameRouteName,
        c.License_Plate_Color,d.Vehicle_Type_Name,IFNULL(e.Overload_Standard,49000) as maxWeight
        from (select a.* from t_vehicle_msg_today a where date(Evt_Time) = curdate() and
        <include refid="StationIP_chaozaishuju_sql"></include>
        ) a
        LEFT JOIN station_site b on a.Station_IP=b.Station_Port
        LEFT JOIN license_plate c ON a.Plate_Color=c.License_Plate_No
        LEFT JOIN vehicle_type d ON a.Class_Index=d.Vehicle_Type_No
        LEFT JOIN overload_standard e on a.Axles_Count=e.Axle_Number
    </select>

    <select id="getMeiRiChaoZaiShujuByStationPort" resultType="tWimMsgVo">
        SELECT CASE a.Direction WHEN 0 THEN '正常行驶'
        ELSE '逆行'
        END as directionName,
        CASE a.Is_Straddle WHEN 0 THEN '否'
        ELSE '是'
        end as isStraddleName,
        CASE a.Lane_No WHEN 1 THEN '超车道'
        WHEN 2 THEN '行车道'
        ELSE '应急车道'
        end as laneNoName,
        CASE WHEN a.Over_Weight_Ratio>0 THEN '超载'
        ELSE '不超载'
        end as overWeightRatioName,
        a.*,b.Station_Name,b.Route_Name,concat_ws("+",b.Station_Name,b.Route_Name) as stationNameRouteName,
        c.License_Plate_Color,d.Vehicle_Type_Name,IFNULL(e.Overload_Standard,49000) as maxWeight
        from (select a.* from t_vehicle_msg_today a where date(Evt_Time) = curdate() and Over_Weight>0 and  a.Total_Weight &lt;(SELECT Crux_Weight FROM crux_weight  WHERE Del_State = 1 AND lv = 2) and
        <include refid="StationIP_chaozaishuju_sql"></include>
        ) a
        LEFT JOIN station_site b on a.Station_IP=b.Station_Port
        LEFT JOIN license_plate c ON a.Plate_Color=c.License_Plate_No
        LEFT JOIN vehicle_type d ON a.Class_Index=d.Vehicle_Type_No
        LEFT JOIN overload_standard e on a.Axles_Count=e.Axle_Number
    </select>


    <select id="getMeiRiGuanJianChaoZHongShujuByStationPort" resultType="tWimMsgVo">
        SELECT CASE a.Direction WHEN 0 THEN '正常行驶'
        ELSE '逆行'
        END as directionName,
        CASE a.Is_Straddle WHEN 0 THEN '否'
        ELSE '是'
        end as isStraddleName,
        CASE a.Lane_No WHEN 1 THEN '超车道'
        WHEN 2 THEN '行车道'
        ELSE '应急车道'
        end as laneNoName,
        CASE WHEN a.Over_Weight_Ratio>0 THEN '超载'
        ELSE '不超载'
        end as overWeightRatioName,
        a.*,b.Station_Name,b.Route_Name,concat_ws("+",b.Station_Name,b.Route_Name) as stationNameRouteName,
        c.License_Plate_Color,d.Vehicle_Type_Name,IFNULL(e.Overload_Standard,49000) as maxWeight
        from (select a.* from t_vehicle_overweight a
        where date(Evt_Time) = curdate() and
        <if test="lv==2">
            Total_Weight>=(SELECT Crux_Weight FROM crux_weight where Del_State=1 AND lv = #{lv})and
            Total_Weight &lt;(SELECT Crux_Weight FROM crux_weight where Del_State=1 AND lv = 3) and
        </if>
        <if test="lv==3">
            Total_Weight >=(SELECT Crux_Weight FROM crux_weight where Del_State=1 AND lv = #{lv}) and
        </if>
        <include refid="StationIP_chaozaishuju_sql"></include>
        ) a
        LEFT JOIN station_site b on a.Station_IP=b.Station_Port
        LEFT JOIN license_plate c ON a.Plate_Color=c.License_Plate_No
        LEFT JOIN vehicle_type d ON a.Class_Index=d.Vehicle_Type_No
        LEFT JOIN overload_standard e on a.Axles_Count=e.Axle_Number
    </select>

    <select id="gettWimMsgById" resultType="tWimMsgVo">
        select CASE a.Direction WHEN 0 THEN '正常行驶'
        ELSE '逆行'
        END as directionName,
        CASE a.Is_Straddle WHEN 0 THEN '否'
        ELSE '是'
        end as isStraddleName,
         CASE a.Lane_No WHEN 1 THEN '超车道'
        WHEN 2 THEN '行车道'
        ELSE '应急车道'
        end as  laneNoName,
        CASE  WHEN a.Over_Weight_Ratio>0  THEN '超载'
        ELSE '不超载'
        end as overWeightRatioName,
        a.*,b.Station_Name,b.Route_Name,concat_ws("+",b.Station_Name,b.Route_Name) as stationNameRouteName,
        c.License_Plate_Color,d.Vehicle_Type_Name
        from t_vehicle_msg a
        LEFT JOIN station_site b on a.Station_IP=b.Station_Port
        LEFT JOIN license_plate c ON a.Plate_Color=c.License_Plate_No
        LEFT JOIN vehicle_type d ON a.Class_Index=d.Vehicle_Type_No
        where a.id_local=#{idLocal}
    </select>
    <select id="gettWimMsgYiChangById" resultType="tWimMsgVo">
        select CASE a.Direction WHEN 0 THEN '正常行驶'
        ELSE '逆行'
        END as directionName,
        CASE a.Is_Straddle WHEN 0 THEN '否'
        ELSE '是'
        end as isStraddleName,
         CASE a.Lane_No WHEN 1 THEN '超车道'
        WHEN 2 THEN '行车道'
        ELSE '应急车道'
        end as  laneNoName,
        CASE  WHEN a.Over_Weight_Ratio>0  THEN '超载'
        ELSE '不超载'
        end as overWeightRatioName,
        a.*,b.Station_Name,b.Route_Name,concat_ws("+",b.Station_Name,b.Route_Name) as stationNameRouteName,
        c.License_Plate_Color,d.Vehicle_Type_Name
        from t_vehicle_msg_abnormal a
        LEFT JOIN station_site b on a.Station_IP=b.Station_Port
        LEFT JOIN license_plate c ON a.Plate_Color=c.License_Plate_No
        LEFT JOIN vehicle_type d ON a.Class_Index=d.Vehicle_Type_No
        where a.id_local like CONCAT(#{idLocal},'%')
    </select>

    <select id="getGuanJianChaoZhongCheLiangEchartsList2" resultType="CheLiuLiangEchartsList">
        SELECT
                 group_concat(aaa.cnt SEPARATOR ',') AS cnt2,
                group_concat(aaa.Station_Port SEPARATOR ',') AS stationPorts,
                group_concat(aaa.Station_Name SEPARATOR ',') AS stationNames,
                group_concat(aaa.cnt2 SEPARATOR ',') AS cnt3
                FROM
                (select aa.cnt ,
        aa.Station_Port ,
        aa.Station_Name ,
        IFNULL(bb.cnt ,0)cnt2
                 from (SELECT
                            *
                        FROM
                    (
                        SELECT
                            COUNT(
                                CASE
                                WHEN a.Station_IP IS NOT NULL THEN
                                    0
                                END
                            ) cnt,
                            b.Station_Port,
                            b.Station_Name
                        FROM
                            t_vehicle_overweight a
                        RIGHT JOIN station_site b ON a.Station_IP = b.Station_Port
                        AND date(a.Evt_Time) = curdate()
                        AND
                             a.Total_Weight>=(SELECT Crux_Weight FROM crux_weight w  WHERE  Del_State = 1 AND w.lv = #{lv1} )
                         and a.Total_Weight&lt;(SELECT Crux_Weight FROM crux_weight w  WHERE  Del_State = 1 AND w.lv = #{lv2} )
                        GROUP BY
                            b.Station_Port
                        HAVING
                            FIND_IN_SET(b.Station_Port ,#{stationPorts})
                        ORDER BY
                            cnt desc,b.Station_Name ASC

                    ) dd
                ORDER BY
                    dd.cnt) aa LEFT JOIN (SELECT
                    *
                FROM
                    (
                        SELECT
                            COUNT(
                                CASE
                                WHEN a.Station_IP IS NOT NULL THEN
                                    0
                                END
                            ) cnt,
                            b.Station_Port,
                            b.Station_Name
                        FROM
                            t_vehicle_overweight a
                        RIGHT JOIN station_site b ON a.Station_IP = b.Station_Port
                        AND date(a.Evt_Time) = curdate()
                        AND a.Total_Weight >= (
                            SELECT
                                Crux_Weight
                            FROM
                                crux_weight w
                            WHERE
                                Del_State = 1
                            AND w.lv = #{lv2}

                        )
                        GROUP BY
                            b.Station_Port
                        HAVING
                            FIND_IN_SET(b.Station_Port ,#{stationPorts})
                        ORDER BY
                            cnt desc ,b.Station_Name ASC

                    ) dd
                ORDER BY
                    dd.cnt) bb on aa.Station_Port = bb.Station_Port ORDER BY aa.cnt desc
                ) aaa

    </select>

    <select id="getJianCeTotal" resultType="HomeData">
        SELECT * from (
        SELECT COUNT(*) totalChaoZai FROM t_vehicle_msg_today a WHERE a.Over_Weight>0 and FIND_IN_SET(a.Station_IP,#{stationPorts}) and  date(a.Evt_Time) = curdate() and a.Total_Weight &lt;(SELECT Crux_Weight FROM crux_weight  WHERE Del_State = 1 AND lv = 2)
        ) aa LEFT JOIN (
        SELECT id_local,Total_Weight maxWeight FROM t_vehicle_overweight WHERE Total_Weight = (select MAX(a.Total_Weight) maxWeight FROM t_vehicle_overweight a  WHERE   date(a.Evt_Time) = curdate()) LIMIT 1
        )bb on 1= 1
        LEFT JOIN (
        select COUNT(*) totalCheLiu FROM t_vehicle_msg_today a WHERE  FIND_IN_SET(a.Station_IP,#{stationPorts}) and  date(a.Evt_Time) = curdate()
        )cc on 1= 1
         LEFT JOIN (
        select group_concat(b.link SEPARATOR ',') AS links FROM station_site b WHERE  FIND_IN_SET(b.Station_Port,#{stationPorts})
        )dd on 1= 1
        LEFT JOIN (
        select COUNT(*) totalGuanJian FROM t_vehicle_overweight a WHERE a.Total_Weight >= (SELECT min(Crux_Weight) FROM crux_weight w WHERE Del_State = 1) AND FIND_IN_SET(a.Station_IP,#{stationPorts}) and  date(a.Evt_Time) = curdate()
        )ee on 1= 1
    </select>

    <select id="getJianCeCheLiuLiangEchartsList" resultType="CheLiuLiangEchartsList">
        SELECT
        group_concat(aa.cnt SEPARATOR ',') AS nums,
        group_concat(aa.Station_Port SEPARATOR ',') AS station_ports,
        group_concat(aa.station_name SEPARATOR ',') AS station_names
        FROM
		(
			SELECT * FROM(SELECT
			COUNT(
				CASE
				WHEN a.Station_IP IS NOT NULL THEN
					0
				END
			) cnt,
			b.Station_Port,
			b.Station_Name
			FROM
				t_vehicle_msg_today a
			RIGHT JOIN station_site b ON a.Station_IP = b.Station_Port AND date(a.Evt_Time) = curdate()
			GROUP BY
				b.Station_Port
			HAVING FIND_IN_SET(b.Station_Port,#{stationPorts})
			ORDER BY
				cnt desc,b.Station_Name ASC
			)dd ORDER BY dd.cnt DESC
		) aa
    </select>

    <select id="getJianCechaozaiEchartsList" resultType="CheLiuLiangEchartsList">
        SELECT
        group_concat(aa.cnt SEPARATOR ',') AS nums,
        group_concat(aa.Station_Port SEPARATOR ',') AS station_ports,
        group_concat(aa.station_name SEPARATOR ',') AS station_names
        FROM
		(
			SELECT * FROM(SELECT
			COUNT(
				CASE
				WHEN a.Station_IP IS NOT NULL THEN
					0
				END
			) cnt,
			b.Station_Port,
			b.Station_Name
			FROM
				t_vehicle_msg_today a
			RIGHT JOIN station_site b ON a.Station_IP = b.Station_Port AND date(a.Evt_Time) = curdate() and a.Over_Weight>0 and a.Total_Weight &lt;(SELECT Crux_Weight FROM crux_weight  WHERE Del_State = 1 AND lv = 2)
			GROUP BY
				b.Station_Port
			HAVING FIND_IN_SET(b.Station_Port,#{stationPorts})
			ORDER BY
				cnt desc,b.Station_Name ASC
			)dd ORDER BY dd.cnt DESC
		) aa
    </select>
</mapper>
