<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.tWimMsgDao" >

    <sql id="StationIP_sql">
        <if test="stationPort!=null and stationPort!=''">
            <if test="stationPort.indexOf(',')!=-1">
                a.Station_IP in
                <foreach collection="stationPort.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="stationPort.indexOf(',')==-1">
                a.Station_IP=#{stationPort}
            </if>
        </if>
    </sql>

    <select id="getAlltWimMsg" resultType="tWimMsgVo">
        select
        CASE a.Dev_Type WHEN 0 THEN '100+'
        WHEN 1 THEN 'WIM'
        when 2 then 'EMU'
        when 3 THEN 'TMU'
        else 'WanJi'
        END as  DevTypeName,
        CASE a.Direction WHEN 0 THEN '正常行驶'
        ELSE '逆行'
        END as DirectionName,
        CASE a.Is_Straddle WHEN 0 THEN '否'
        ELSE '是'
        end as IsStraddleName,
        case a.Draw_Bar_Trailer WHEN 0 THEN '否'
        WHEN 1 THEN '是'
        ELSE '未知'
        END as DrawBarTrailerName,
        a.*,b.Station_Name,b.Route_Name,concat_ws("+",b.Station_Name,b.Route_Name) as stationNameRouteName from t_wim_msg a
        LEFT JOIN station_site b on a.Station_IP=b.Station_Port
        where <include refid="StationIP_sql"></include>
    </select>

    <select id="getAlltWimMsgByCondition" resultType="tWimMsgVo">
        select
        CASE a.Dev_Type WHEN 0 THEN '100+'
        WHEN 1 THEN 'WIM'
        when 2 then 'EMU'
        when 3 THEN 'TMU'
        else 'WanJi'
        END as  DevTypeName,
        CASE a.Direction WHEN 0 THEN '正常行驶'
        ELSE '逆行'
        END as DirectionName,
        CASE a.Is_Straddle WHEN 0 THEN '否'
        ELSE '是'
        end as IsStraddleName,
        case a.Draw_Bar_Trailer WHEN 0 THEN '否'
        WHEN 1 THEN '是'
        ELSE '未知'
        END as DrawBarTrailerName,
        a.*,b.Station_Name,b.Route_Name,concat_ws("+",b.Station_Name,b.Route_Name) as stationNameRouteName from t_wim_msg a
        LEFT JOIN station_site b on a.Station_IP=b.Station_Port
        where  #{startTime} &lt; msg_time and msg_time &lt;#{endTime} and
        <include refid="StationIP_sql">
       </include>
    </select>


</mapper>
