<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.tWimMsgDao" >

    <sql id="StationIP_sql">
        <if test="stationPort!=null and stationPort!=''">
            <if test="stationPort.indexOf(',')!=-1">
                a.Station_IP in
                <foreach collection="stationPort.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="stationPort.indexOf(',')==-1">
                a.Station_IP=#{stationPort}
            </if>
            ORDER BY a.Evt_Time desc limit 5
        </if>
    </sql>
    <sql id="StationIP_sql_tongji">
        <if test="stationPort!=null and stationPort!=''">
            <if test="stationPort.indexOf(',')!=-1">
                a.Station_IP in
                <foreach collection="stationPort.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="stationPort.indexOf(',')==-1">
                a.Station_IP=#{stationPort}
            </if>
            ORDER BY a.Evt_Time desc
        </if>
    </sql>

    <select id="getAlltWimMsg" resultType="tWimMsgVo">
        select CASE a.Direction WHEN 0 THEN '正常行驶'
        ELSE '逆行'
        END as directionName,
        CASE a.Is_Straddle WHEN 0 THEN '否'
        ELSE '是'
        end as isStraddleName,
        a.*,b.Station_Name,b.Route_Name,concat_ws("+",b.Station_Name,b.Route_Name) as stationNameRouteName,
        c.License_Plate_Color,d.Vehicle_Type_Name
        from t_vehicle_msg a
        LEFT JOIN station_site b on a.Station_IP=b.Station_Port
        LEFT JOIN license_plate c ON a.Plate_Color=c.License_Plate_No
        LEFT JOIN vehicle_type d ON a.Class_Index=d.Vehicle_Type_No
        where <include refid="StationIP_sql"></include>
    </select>

    <select id="getAlltWimMsgByCondition" resultType="tWimMsgVo">
        select CASE a.Direction WHEN 0 THEN '正常行驶'
        ELSE '逆行'
        END as directionName,
        CASE a.Is_Straddle WHEN 0 THEN '否'
        ELSE '是'
        end as isStraddleName,
        a.*,b.Station_Name,b.Route_Name,concat_ws("+",b.Station_Name,b.Route_Name) as stationNameRouteName,
        c.License_Plate_Color,d.Vehicle_Type_Name
        from t_vehicle_msg a
        LEFT JOIN station_site b on a.Station_IP=b.Station_Port
        LEFT JOIN license_plate c ON a.Plate_Color=c.License_Plate_No
        LEFT JOIN vehicle_type d ON a.Class_Index=d.Vehicle_Type_No
        where  #{startTime} &lt; msg_time and msg_time &lt; #{endTime} and #{startWeight} &lt; total_weight and  total_weight &lt; #{endWeight} and
        <include refid="StationIP_sql_tongji">
       </include>
    </select>


</mapper>
