
body{
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: 200%;
}
.daohang{
	background-color: #549CFD;
	height:55px;
	line-height: 55px;
	display:none;
	 /* background-image: linear-gradient(#262E9F, #1F62C8); */
}
.daohang img{
	height: 35px;
	margin-top: -7px;
}
.daohang span{
	font-size: 24px;
	color: white;
	margin-left: 5px;
}
.rightD{
	float: right;
	color: white;
}
.rightD p{
	display: inline-block;
	margin-left: 30px;
}
.rightD a{
	color: white;
}
.rightD a:hover{
	color: white;
}
/*================================================================================宸﹀崐閮ㄥ垎寮�濮�====================================================================*/
#leftTab{
	height:101%;
	width: 160px;
	position: absolute;
	background-color:rgba(0,0,0,0~1);    
    text-align: center;
}
.homeLeft {
	 background-color: #232733; 
}
#leftTab a{
	color: white;
	font-size: 16px;
	display: block;
	height:50px;
	margin-top: 20px;
	line-height: 50px;
}
.col-xs-12{                    
	float: none;
}
#leftTab a:hover{
    background-color: #1B5ACB;
    text-decoration: none;
    border-radius: 10px;
     background-image: linear-gradient(to right, #202684 , #1B5BCD);
}
#leftTab a:visited{
	 background-image: linear-gradient(to right, #202684 , #1B5BCD);
}
/*=================================================================================鍙冲崐閮ㄥ垎寮�濮�======================================================================*/
#rightTab{
	background-color: #F5F5F5;
	height: 1500px;
	width: 90%;
	float: right;
	margin-top: 20px;
	border-radius: 10px;
    margin-right: 10px;	
}
.col-sm-2{
	width: 7%;
	line-height: 35px;
	margin-left: 1%;
}
.form-control{
	width: 180%;
}
.sele{
	margin-top: 10px;
}
.xian{
	width: 100%;
	height: 1px;
	background-color: #e8e8e8;
	margin-top: 15px;
}
.bright{
	height: 500px;
	width: 750px;
	background-color: #FFFFFF;
	margin-left: 90px;
	position: absolute;
	margin-top: 30px;
}
.blue{
	height: 40px;
	background-color: #DDE6F7;
}
.bleft{
	height: 500px;
	width: 750px;
	background-color: #FFFFFF;
	float: right;
	margin-top: 30px;
	margin-right: 90px;
}
.blue p{
	line-height: 40px;
	margin-left: 20px;
	font-weight: bolder;
}
#bottom_{
	height: 500px;
	width: 100%;
	margin-top: 700px;
}
.liebiao{
	width: 160px !important;
}
