body{
	background-image: url(../img/bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.head{
	width: 100%;
	/*text-align: center;*/
	margin-left: 8%;
}
.left{
	margin-left: 1%;
	margin-top: 3%;
	height: 23%;
	width: 33%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/border_chaozhong.png);
}
.k{
	width: 75%;
}
.tt{
	margin-top:-20px;
}
.center{
	margin-left: 2%;
	margin-top: 2%;
	margin-right: 2%;
	height: 41%;
	position: absolute;
	margin:0 auto;
	width: 30%;
	right: 32%;
	top:5%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/border_map.png);
}
.right{
	margin-left: 1%;
	margin-top: 3%;
	height: 23%;
	position: absolute;
	right: 80px;
	top: 3%;
	width:23%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/border_chaozhong.png)	
}
.right_text{
     margin-top:-20px;
}
/*鍙充笂瑙掓棩鏈�*/
.text{
	color: white;
	font-size: 14px;
	position: absolute;
	right:1%;
	top:4%;
}
/*涓嬪崐閮ㄥ垎*/
.bottom{
	background-image: url(../img/border_jiaotongliang.png);
	width: 122%;
	height: 500px;
	margin-left: 1%;
	margin-top: 5%;
	background-repeat: no-repeat;
	background-size: 100%;
	
	
}
