body{
	background-image: url(../img/sj.png);
	background-size: 100% 115%;
	background-repeat: no-repeat;
}
.leftdiv{
	margin-left: 16%;
}
.jianceh{
	 background-image: -webkit-linear-gradient(bottom, rgb(0, 122, 255), rgb(0, 250, 255));
	 -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.leftp{
	display: inline-block;
	background-image: -webkit-linear-gradient(bottom, rgb(227, 227, 211), rgb(143, 240, 249));
	 -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size:30px;
	font-family:pangshi;
	font-weight: bolder;
	margin-left: 3%;
}
.leftsj span{
	color: #A4A5B0;
	margin-left: 2%;
	font-size:13px;
}
.centerdiv{
	margin-left: -5%;
}
.topcenter{
	background-image:url(../img/left_angle.png),url(../img/right_angle.png);
	background-repeat: no-repeat no-repeat; 
	background-position:0 90%, 100% 90%; 
}
.bg {
	/* width: 75%; */
	background-image: linear-gradient(to right, rgb(5, 33, 137), transparent), url("sj.png");
}
.dangqianche{
	background-image: -webkit-linear-gradient(top, rgb(0, 122, 255), rgb(143, 240, 249));
	 -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.bz span{
	color: #14427D;
	font-size:15px;
	font-weight: bolder;
}
#xian{
	border: 1px solid #09185C;
	border-top: none;
	padding:10px;
	z-index: -1;
}
.bottomcenter{
	background-image:url(../img/left_angle.png),url(../img/right_angle.png);
	background-repeat: no-repeat no-repeat; 
	background-position:0 100%, 100% 100%; 
}